 <h4>Created By</h4>
<table class="table table-bordered">
 {% for created_key, created in createdBy %}
    {% if created['id'] is defined %}
     <tr>
         {% if created['name'] is not defined %}
             <td>ID :  {{ created['id'] }} </td>
         {% endif %}
         <td> {% if created['name'] is defined %} {{ created_key|camelize }} : {{ created['name'] }} {% endif %}</td>
     </tr>
    {% endif %}
 {% endfor %}
</table>

    <h4>Created At: {{ createdAt|date}}</h4>
    {% if responseBody is defined and responseBody is not empty %}
    {% for result in responseBody %}
    <p>{{ result.event_time|date('Y-M-d H:i:s') }}</p>
    <table class="table table-bordered">

         <tr>
             <th>Field</th>
             <th>Old Value</th>
             <th>New Value</th>
             <th>Requested By</th>
             <th>Approved By</th>
         </tr>

     {% for key, change in result.change_set  %}
      <tr>
       <td>
           <p>{% if key == 'sur_name' %}
                   Surname
                 {% else %}
                     {{ key|camelize }}
                 {% endif %}
           </p>
       </td>
       <td>
              {% if change.old_value is iterable %}
                  {% for old_value_key, old_value_details in change.old_value  %}
                      {% if old_value_details is iterable%}
                          {% for relation_key,relation in old_value_details %}
                                {% if relation_key !='id' %}
                                    {{ relation_key|camelize }} : {{(relation_key == 'relational_status') ? relation|maritalStatus :relation }} <br/>
                                {% endif %}
                          {% endfor %}
                          {{ loop.last ? '':'<hr/>'  }}
                      {% else %}
                        {{ old_value_key|camelize }} : {{ old_value_details }}<br/>
                      {% endif %}
                  {% endfor %}
              {% else %}
                  {% if key == 'active'  %}
                      {{ change.old_value|status  }}
                  {% elseif key == 'dob_type'  %}
                      {{ change.old_value|dobtype  }}
                  {% else %}
                      {{ change.old_value  }}
                  {% endif %}

              {% endif %}
       </td>
       <td>
         {% if change.new_value is iterable %}
             {% for new_value_key,new_value_details in change.new_value  %}
                 {% if new_value_details is iterable %}
                    {% for relation_key, relation in new_value_details  %}
                        {% if relation_key !='id' %}
                            {{ relation_key|camelize }} : {{(relation_key == 'relational_status') ? relation|maritalStatus :relation }} <br/>
                        {% endif %}
                    {% endfor %}
                     {{ loop.last ? '':'<hr/>'  }}
                 {% else %}
                      {{ new_value_key|camelize }} : {{ new_value_details }}<br/>
                 {% endif %}
             {% endfor %}
         {% else %}
           {% if key == 'date_of_birth'  %}
               {{ change.new_value|date('Y-m-d H:i:s')  }}
           {% elseif key == 'active'  %}
               {{ change.new_value|status  }}
           {% elseif key == 'dob_type'  %}
               {{ change.new_value|dobtype  }}
           {% else %}
               {{ change.new_value  }}
           {% endif %}

         {% endif %}
       </td>
        <td>
            {% if result.requested_by[key] is defined and result.requested_by is not empty %}
                {% set requestedBy = result.requested_by[key] %}
            {% else %}
                 {% set requestedBy = result.requested_by['ALL_FIELDS'] is defined ? result.requested_by['ALL_FIELDS']: null %}
            {% endif %}

            <table class="table table-bordered">
                {% for requestedAll in requestedBy %}
                    <tr>
                      <td>
                    {% for requested_key, requested in  requestedAll %}

                        {% if requested['id'] is defined %}

                                {% if requested['name'] is not defined %}
                                ID :  {{ requested['id'] }}
                                {% endif %}
                                 {% if requested['name'] is defined %}
                                        {{ requested_key|camelize }} : {{ requested['name'] }}
                                    {% endif %}
                           <br/>
                        {% endif %}
                    {% endfor %}
                      </td>
                <tr>
                {% endfor %}
            </table>
        </td>

       <td>
           <table class="table table-bordered">
               {% for approved_key, approved in result.approved_by %}
                   {% if approved['id'] is defined %}
                       <tr>
                           {% if approved['name'] is not defined %}
                                 <td>ID :  {{ approved['id'] }} </td>
                           {% endif %}
                           <td>{% if approved['name'] is defined %} {{ approved_key|camelize }} : {{ approved['name'] }} {% endif %}</td>
                       </tr>
                   {% endif %}
               {% endfor %}
           </table>
       </td>

      </tr>
     {% endfor %}

    </table>
{% endfor %}
{% endif %}

<div style="clear: both"></div>