{% extends 'base.html.twig' %}

{% block content %}
    {% import "::partials/confirmModal.html.twig" as confirmModal %}

    {{ confirmModal.dedupConfirmModal(original.responseBody.hid,duplicate.responseBody.hid,csrfToken) }}

    {{ confirmModal.dedupMergeConfirmModal() }}

    {#    {% if errors is defined and errors is empty %}#}

    <div id="flush_message" style="margin-top: 10px;display: none" class="alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>

    </div>
    {#    {% endif %}#}
    <form name="dedupMerge" method="post" id="dedupMergeForm" action="{{ path('mci_patient_deduplication_merge') }}">
    <table id="dedupDetailsUI" style="margin-top: 10px;" class="table table-bordered" width="100%">
    <tr>
        <th><input id="leftPart" class="radioBtn topRadioBtn" type="radio" name="sidechange" > {% if original.responseBody.given_name is defined %}{{ original.responseBody.given_name }} {{ original.responseBody.sur_name }}{% endif %} {% if original.responseBody.name_bangla is defined %}({{ original.responseBody.name_bangla }}){% endif %}( {{ original.responseBody.hid }} )
        </th>
        <th><input id="rightPart" class="radioBtn topRadioBtn" type="radio" name="sidechange"> {% if duplicate.responseBody.given_name is defined %}{{ duplicate.responseBody.given_name }} {{ duplicate.responseBody.sur_name }}{% endif %} {% if duplicate.responseBody.name_bangla is defined %}({{ duplicate.responseBody.name_bangla }}){% endif %} ( {{ duplicate.responseBody.hid }} )
        </th>
    </tr>
    <tr>
    <td width="50%" id="leftside">
    <div style="display: none;">
        <input class="radioBtn"  type="radio" name="hid" value="{{ original.responseBody.hid }}">
        <input  class="radioBtn" type="radio" name="merge_to" value="{{ duplicate.responseBody.hid }}">
    </div>
    <table width="100%">
    {% if original.responseBody.nid is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NID' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="leftside_nid" type="radio" name="nid"
                       value="{{ original.responseBody.nid }}"></td>
            <td><label for="leftside_nid">NID</label></td>
            <td>
                {{ original.responseBody.nid }}
            </td>
        </tr>
    {% endif %}
    {% if original.responseBody.uid is defined %}
        <tr class="{{ 'DUPLICATE_REASON_UID' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="leftside_uid" type="radio" name="uid"
                       value="{{ original.responseBody.uid }}"></td>
            <td><label for="leftside_nid">UID</label></td>
            <td>
                {{ original.responseBody.uid }}
            </td>
        </tr>
    {% endif %}
    {% if original.responseBody.bin_brn is defined %}
        <tr class="{{ 'DUPLICATE_REASON_BRN' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="leftside_brn" type="radio" name="bin_brn"
                       value="{{ original.responseBody.bin_brn }}"></td>
            <td><label for="leftside_brn">BRN</label></td>
            <td>
                {{ original.responseBody.bin_brn }}
            </td>
        </tr>
    {% endif %}
    {% if original.responseBody.name_bangla is defined %}
        <tr>
            <td><input id="name_bangla" class="radioBtn" type="radio" name="name_bangla"
                       value="{{ original.responseBody.name_bangla }}"></td>
            <td><label for="name_bangla">Name Bangla</label></td>
            <td>
                {{ original.responseBody.name_bangla }}
            </td>
        </tr>
    {% endif %}
    {% if original.responseBody.given_name is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NAME_ADDRESS' in reason ? 'highlighted':'' }}">
            <td><input id="leftside_given_bangla" class="radioBtn" type="radio" name="given_name"
                       value="{{ original.responseBody.given_name }}"></td>
            <td><label for="leftside_given_bangla">Given name</label></td>
            <td>
                {{ original.responseBody.given_name }}
            </td>
        </tr>
    {% endif %}


    {% if original.responseBody.sur_name is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NAME_ADDRESS' in reason ? 'highlighted':'' }}">
            <td><input id="leftside_sur_name" class="radioBtn" type="radio" name="sur_name"
                       value="{{ original.responseBody.sur_name }}"></td>
            <td><label for="leftside_sur_name">Surname</label></td>
            <td>
                {{ original.responseBody.sur_name }}
            </td>
        </tr>
    {% endif %}


    {% if original.responseBody.date_of_birth is defined %}
        <tr >
            <td><input id="leftside_date_of_birth" class="radioBtn" type="radio" name="date_of_birth"
                       value="{{ original.responseBody.date_of_birth}}"></td>
            <td><label for="leftside_date_of_birth">Date of Birth</label></td>
            <td>
                {{ original.responseBody.date_of_birth|date }}
            </td>
        </tr>
    {% endif %}
    {% if original.responseBody.date_of_birth is defined %}
        <tr >
            <td><input id="leftside_date_of_birth" class="radioBtn" type="radio" name="date_of_birth"
                       value="{{ original.responseBody.date_of_birth}}"></td>
            <td><label for="leftside_date_of_birth">Date of Birth</label></td>
            <td>
                {{ original.responseBody.date_of_birth|date }}
            </td>
        </tr>
    {% endif %}

    {% if original.responseBody.dob_type is defined %}
        <tr>
            <td><input id="leftside_dob_type" class="radioBtn" type="radio" name="dob_type"
                       value="{{ original.responseBody.dob_type }}"></td>
            <td><label for="leftside_dob_type">Date of Birth Type</label></td>
            <td>
                {{ original.responseBody.dob_type|dobtype }}
            </td>
        </tr>
    {% endif %}

    <tr>
        <td><input id="leftside_gender" class="radioBtn" type="radio" name="gender"
                   value="{{ original.responseBody.gender }}"></td>
        <td><label for="leftside_gender">Gender</label></td>
        <td>{{ original.responseBody.gender|gender }}</td>
    </tr>


    {% if original.responseBody.occupation is defined %}
        <tr>
            <td><input id="leftside_occupation" class="radioBtn" type="radio" name="occupation"
                       value="{{ original.responseBody.occupation }}"></td>
            <td><label for="leftside_occupation">Occupation</label></td>
            <td>
                {{ original.responseBody.occupation|occupation }}
            </td>
        </tr>
    {% endif %}

    {% if original.responseBody.edu_level is defined %}
        <tr>
            <td><input id="leftside_edu_level" class="radioBtn" type="radio" name="edu_level"
                       value="{{ original.responseBody.edu_level }}"></td>
            <td><label for="leftside_edu_level">Education Level</label></td>
            <td>
                {{ original.responseBody.edu_level|edulevel }}
            </td>
        </tr>
    {% endif %}
    {% if original.responseBody.religion is defined %}
        <tr>
            <td><input id="leftside_relegion" class="radioBtn" type="radio" name="religion"
                       value="{{ original.responseBody.religion }}"></td>
            <td><label for="leftside_relegion">Relegion</label></td>
            <td>{{ original.responseBody.religion|religion }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.blood_group is defined %}
        <tr>
            <td><input id="leftside_blood_group" class="radioBtn" type="radio" name="blood_group"
                       value="{{ original.responseBody.blood_group }}"></td>
            <td><label for="leftside_blood_group">Blood Group</label></td>
            <td> {{ original.responseBody.blood_group|bloodgroup }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.nationality is defined %}
        <tr>
            <td><input id="leftside_nationality" class="radioBtn" type="radio" name="nationality"
                       value="{{ original.responseBody.nationality }}"></td>
            <td><label for="leftside_nationality">Nationality</label></td>
            <td>{{ original.responseBody.nationality }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.disability is defined %}
        <tr>
            <td><input id="leftside_disability" class="radioBtn" type="radio" name="disability"
                       value="{{ original.responseBody.disability }}"></td>
            <td><label for="leftside_disability">Disability</label></td>
            <td>{{ original.responseBody.disability|disability }} </td>
        </tr>
    {% endif %}
    {% if original.responseBody.primary_contact is defined %}
        <tr>
            <td><input id="leftside_primary_contact" class="radioBtn" type="radio" name="primary_contact"
                       value="{{ original.responseBody.primary_contact }}"></td>
            <td><label for="leftside_primary_contact">Primary Contact</label></td>
            <td>{{ original.responseBody.primary_contact }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.marital_status is defined %}
        <tr>
            <td><input id="leftside_marital_status" class="radioBtn" type="radio" name="marital_status"
                       value="{{ original.responseBody.marital_status }}"></td>
            <td><label for="leftside_marital_status">Marital Status</label></td>
            <td>{{ original.responseBody.marital_status|maritalStatus }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.confidential is defined %}
        <tr>
            <td><input id="leftside_confidential" class="radioBtn" type="radio" name="confidential"
                       value="{{ original.responseBody.confidential }}"></td>
            <td><label for="leftside_confidential">Confidential</label></td>
            <td>{{ original.responseBody.confidential }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.household_code is defined %}
        <tr>
            <td><input id="leftside_household_code" class="radioBtn" type="radio" name="household_code"
                       value="{{ original.responseBody.household_code }}"></td>
            <td><label for="leftside_household_code">Household Code</label></td>
            <td> {{ original.responseBody.household_code }}</td>
        </tr>
    {% endif %}
    {% if original.responseBody.status is defined %}
        <tr>
            <td><input id="leftside_status" class="radioBtn" type="radio" name="status"
                       value="{{ original.responseBody.status|json_encode }}"></td>
            <td><label for="leftside_status">Status</label></td>
            <td>
            <table style="margin-top: 10px;" width="100%" class="table table-bordered">
                <tr>
                    <td>Type</td>
                    <td>{{ original.responseBody.status.type|livingStatus }}</td>
                </tr>
                {% if original.responseBody.status.date_of_death is defined %}
                <tr>
                    <td>Date of Death</td>
                    <td>{{ original.responseBody.status.date_of_death|date }}</td>
                </tr>
                {% endif %}
            </table>
                </td>
        </tr>
    {% endif %}

    <tr class="{{ 'DUPLICATE_REASON_NAME_ADDRESS' in reason ? 'highlighted':'' }}">
        <td><input id="leftside_present_address" class="radioBtn" type="radio" name="present_address"
                   value="{{ original.responseBody.present_address|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
        <td><label for="leftside_present_address">Present Address</label></td>
        <td>{% if original.responseBody.present_address %}
                <table style="margin-top: 10px;" width="100%" class="table table-bordered">

                    <tr>
                        <td>Address Line</td>
                        <td>
                            {{ original.responseBody.present_address.address_line }}
                        </td>
                    </tr>

                    <tr>
                        <td>Division</td>
                        <td>
                            {{ original.responseBody.present_address.division_id|division }}
                        </td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td>
                            {{ original.responseBody.present_address.district_id|location(original.responseBody.present_address.division_id) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Upazila</td>
                        <td>
                            {{ original.responseBody.present_address.upazila_id|location(original.responseBody.present_address.division_id~original.responseBody.present_address.district_id) }}
                        </td>
                    </tr>
                    {% if original.responseBody.present_address.city_corporation_id is defined %}
                        <tr>
                            <td>City Corporation</td>
                            <td>
                                {{ original.responseBody.present_address.city_corporation_id|location(original.responseBody.present_address.division_id~original.responseBody.present_address.district_id~original.responseBody.present_address.upazila_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.present_address.union_or_urban_ward_id is defined %}
                        <tr>
                            <td>Union Or Urban Ward</td>
                            <td>
                                {{ original.responseBody.present_address.union_or_urban_ward_id|location(original.responseBody.present_address.division_id~original.responseBody.present_address.district_id~original.responseBody.present_address.upazila_id~original.responseBody.present_address.city_corporation_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.present_address.rural_ward_id is defined %}
                        <tr>
                            <td>Rural Ward</td>
                            <td>
                                {{ original.responseBody.present_address.rural_ward_id|location(original.responseBody.present_address.division_id~original.responseBody.present_address.district_id~original.responseBody.present_address.upazila_id~original.responseBody.present_address.city_corporation_id~original.responseBody.present_address.union_or_urban_ward_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.present_address.country_code is defined %}
                        <tr>
                            <td>Country</td>
                            <td>
                                {{ original.responseBody.present_address.country_code|countrycode }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            {% endif %}
        </td>
    </tr>

    {% if original.responseBody.permanent_address is defined %}
        <tr>
            <td><input id="leftside_permanent_address" class="radioBtn" type="radio" name="permanent_address"
                       value="{{ original.responseBody.permanent_address|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="leftside_permanent_address">Permanent Address</label></td>
            <td>
                <table style="margin-top:10px;" width="100%" class="table table-bordered">
                    {% if original.responseBody.permanent_address.address_line is defined %}
                    <tr>
                        <td>Address Line</td>
                        <td>
                            {{ original.responseBody.permanent_address.address_line }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if original.responseBody.permanent_address.division_id is defined %}
                    <tr>
                        <td>Division</td>
                        <td>
                            {{ original.responseBody.permanent_address.division_id|division }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if original.responseBody.permanent_address.district_id is defined %}
                    <tr>
                        <td>District</td>
                        <td>
                            {{ original.responseBody.permanent_address.district_id|location(original.responseBody.permanent_address.division_id) }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if original.responseBody.permanent_address.upazila_id is defined %}
                    <tr>
                        <td>Upazila</td>
                        <td>
                            {{ original.responseBody.permanent_address.upazila_id|location(original.responseBody.permanent_address.division_id~original.responseBody.permanent_address.district_id) }}
                        </td>
                    </tr>
                    {% endif %}

                    {% if original.responseBody.permanent_address.city_corporation_id is defined %}
                        <tr>
                            <td>City Corporation</td>
                            <td>
                                {{ original.responseBody.permanent_address.city_corporation_id|location(original.responseBody.permanent_address.division_id~original.responseBody.permanent_address.district_id~original.responseBody.permanent_address.upazila_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.permanent_address.union_or_urban_ward_id is defined %}
                        <tr>
                            <td>Union Or Urban Ward</td>
                            <td>
                                {{ original.responseBody.permanent_address.union_or_urban_ward_id|location(original.responseBody.permanent_address.division_id~original.responseBody.permanent_address.district_id~original.responseBody.permanent_address.upazila_id~original.responseBody.permanent_address.city_corporation_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.permanent_address.rural_ward_id is defined %}
                        <tr>
                            <td>Rural Ward</td>
                            <td>
                                {{ original.responseBody.permanent_address.rural_ward_id|location(original.responseBody.permanent_address.division_id~original.responseBody.permanent_address.district_id~original.responseBody.permanent_address.upazila_id~original.responseBody.permanent_address.city_corporation_id~original.responseBody.permanent_address.union_or_urban_ward_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.permanent_address.country_code is defined %}
                        <tr>
                            <td>Country</td>
                            <td>
                                {{ original.responseBody.permanent_address.country_code|countrycode }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}


    {% if original.responseBody.phone_number is defined %}
        <tr>
            <td><input id="leftside_phone_number" class="radioBtn" type="radio" name="phone_number"
                       value="{{ original.responseBody.phone_number|json_encode }}"></td>
            <td><label for="leftside_phone_number">Phone Number</label></td>
            <td>
                <table style="margin-top:10px;" width="100%" class="table table-bordered">
                    {% if original.responseBody.phone_number.country_code is defined %}
                        <tr>
                            <td> Country Code</td>
                            <td>{{ original.responseBody.phone_number.country_code }}</td>
                        </tr>
                    {% endif %}

                    {% if original.responseBody.phone_number.area_code is defined %}
                        <tr>
                            <td>Area Code</td>
                            <td>{{ original.responseBody.phone_number.area_code }}</td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.phone_number.number is defined %}
                        <tr>
                            <td>Number</td>
                            <td>{{ original.responseBody.phone_number.number }}</td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.phone_number.extension is defined %}
                        <tr>
                            <td>Extension</td>
                            <td>{{ original.responseBody.phone_number.extension }}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}

    {% if original.responseBody.primary_contact_number is defined %}
        <tr>
            <td><input id="leftside_primary_contact_number" class="radioBtn" type="radio" name="primary_contact_number"
                       value="{{ original.responseBody.primary_contact_number|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="leftside_primary_contact_number"> Primary Contact Number </label></td>
            <td>
                <table style="margin-top:10px;" width="100%" class="table table-bordered">
                    {% if original.responseBody.primary_contact_number.country_code is defined %}
                        <tr>
                            <td> Country Code</td>
                            <td>{{ original.responseBody.primary_contact_number.country_code }}</td>
                        </tr>
                    {% endif %}

                    {% if original.responseBody.primary_contact_number.area_code is defined %}
                        <tr>
                            <td>Area Code</td>
                            <td>{{ original.responseBody.primary_contact_number.area_code }}</td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.primary_contact_number.number is defined %}
                        <tr>
                            <td>Number</td>
                            <td>{{ original.responseBody.primary_contact_number.number }}</td>
                        </tr>
                    {% endif %}
                    {% if original.responseBody.primary_contact_number.extension is defined %}
                        <tr>
                            <td>Extension</td>
                            <td>{{ original.responseBody.primary_contact_number.extension }}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}

    {% if original.responseBody.relations is defined %}
        <tr>
            <td><input id="leftside_relations" class="radioBtn" type="radio" name="relations"
                       value="{{ original.responseBody.relations|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="leftside_relations">Relation</label></td>
            <td>
                {% for relation in original.responseBody.relations %}
                    <table style="margin-bottom: 10px;" class="table table-bordered" width="100%">
                        <tr>
                            <td>Type</td>
                            <td>{{ relation.type|relation }}</td>
                        </tr>

                        {% if relation.hid is defined %}
                            <tr>
                                <td>HID</td>
                                <td>{{ relation.hid }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.nid is defined %}
                            <tr>
                                <td>NID</td>
                                <td>{{ relation.nid }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.uid is defined %}
                            <tr>
                                <td>UID</td>
                                <td>{{ relation.uid }}</td>
                            </tr>
                        {% endif %}
                        {% if  relation.bin_brn is defined %}
                            <tr>
                                <td>BRN</td>
                                <td>{{ relation.bin_brn }}</td>
                            </tr>
                        {% endif %}

                        {% if relation.name_bangla is defined %}
                            <tr>
                                <td>Bangla Name</td>
                                <td>{{ relation.name_bangla }}</td>
                            </tr>
                        {% endif %}
                        {% if  relation.given_name is defined %}
                            <tr>
                                <td>Given Name</td>
                                <td>{{ relation.given_name }}</td>
                            </tr>
                        {% endif %}

                        {% if relation.sur_name is defined %}
                            <tr>
                                <td>Surname</td>
                                <td>{{ relation.sur_name }}</td>
                            </tr>
                        {% endif %}

                        {% if relation.relational_status is defined %}
                            <tr>
                                <td>Status</td>
                                <td>{{ relation.relational_status|maritalStatus }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.marriage_id is defined %}
                            <tr>
                                <td>Marriage ID</td>
                                <td>{{ relation.marriage_id}}</td>
                            </tr>
                        {% endif %}

                    </table>
                {% endfor %}
            </td>
        </tr>
    {% endif %}

    </table>
    </td>

    <td width="50%" id="rightside">
    <div style="display: none;">
        <input class="radioBtn"  type="radio" name="hid" value="{{ duplicate.responseBody.hid }}">
        <input  class="radioBtn" type="radio" name="merge_to" value="{{ original.responseBody.hid }}">
    </div>
    <table width="100%">
    {% if duplicate.responseBody.nid is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NID' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="rightside_nid" type="radio" name="nid"
                       value="{{ duplicate.responseBody.nid }}"></td>
            <td><label for="rightside_nid">NID</label></td>
            <td>
                {{ duplicate.responseBody.nid }}
            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.uid is defined %}
        <tr class="{{ 'DUPLICATE_REASON_UID' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="rightside_uid" type="radio" name="uid"
                       value="{{ duplicate.responseBody.uid }}"></td>
            <td><label for="rightside_uid">UID</label></td>
            <td>
                {{ duplicate.responseBody.uid }}
            </td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.bin_brn is defined %}
        <tr class="{{ 'DUPLICATE_REASON_BRN' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="rightside_brn" type="radio" name="bin_brn"
                       value="{{ duplicate.responseBody.bin_brn }}"></td>
            <td><label for="rightside_brn">BRN</label></td>
            <td>
                {{ duplicate.responseBody.bin_brn }}
            </td>
        </tr>
    {% endif %}


    {% if duplicate.responseBody.name_bangla is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_name_bangla" type="radio" name="name_bangla"
                       value="{{ duplicate.responseBody.name_bangla }}"></td>
            <td><label for="rightside_name_bangla">Name Bangla</label></td>
            <td>{{ duplicate.responseBody.name_bangla }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.given_name is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NAME_ADDRESS' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="rightside_given_name" type="radio" name="given_name"
                       value="{{ duplicate.responseBody.given_name }}"></td>
            <td><label for="rightside_given_name">Given name</label></td>
            <td>{{ duplicate.responseBody.given_name }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.sur_name is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NAME_ADDRESS' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="rightside_sur_name" type="radio" name="sur_name"
                       value="{{ duplicate.responseBody.sur_name }}"></td>
            <td><label for="rightside_sur_name">Surname</label></td>
            <td>{{ duplicate.responseBody.sur_name }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.date_of_birth is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_date_of_birth" type="radio" name="date_of_birth"
                       value="{{ duplicate.responseBody.date_of_birth }}"></td>
            <td><label for="rightside_date_of_birth">Date of Birth</label></td>
            <td>{{ duplicate.responseBody.date_of_birth|date }}</td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.dob_type is defined %}
        <tr>
            <td><input id="rightside_dob_type" class="radioBtn" type="radio" name="dob_type"
                       value="{{ duplicate.responseBody.dob_type }}"></td>
            <td><label for="rightside_dob_type">Date of Birth Type</label></td>
            <td>
                {{ duplicate.responseBody.dob_type|dobtype }}
            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.place_of_birth is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_place_of_birth" type="radio" name="place_of_birth"
                       value="{{ duplicate.responseBody.place_of_birth }}"></td>
            <td><label for="rightside_place_of_birth">Place of Birth</label></td>
            <td>
                {{ duplicate.responseBody.place_of_birth }}
            </td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.gender is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_gender" type="radio" name="gender"
                       value="{{ duplicate.responseBody.gender }}"></td>
            <td><label for="rightside_gender">Gender</label></td>
            <td>{{ duplicate.responseBody.gender|gender }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.occupation is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_occupation" type="radio" name="occupation"
                       value="{{ duplicate.responseBody.occupation }}"></td>
            <td><label for="rightside_occupation">Occupation</label></td>
            <td>{{ duplicate.responseBody.occupation|occupation }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.edu_level is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_edu_level" type="radio" name="edu_level"
                       value="{{ duplicate.responseBody.edu_level }}"></td>
            <td><label for="rightside_edu_level">Education Level</label></td>
            <td>{{ duplicate.responseBody.edu_level|edulevel }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.religion is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_religion" type="radio" name="religion"
                       value="{{ duplicate.responseBody.religion }}"></td>
            <td><label for="rightside_religion">Relegion</label></td>
            <td>{{ duplicate.responseBody.religion|religion }}</td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.blood_group is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_blood_group" type="radio" name="blood_group"
                       value="{{ duplicate.responseBody.blood_group }}"></td>
            <td><label for="rightside_blood_group">Blood Group</label></td>
            <td>{{ duplicate.responseBody.blood_group|bloodgroup }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.nationality is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_nationality" type="radio" name="nationality"
                       value="{{ duplicate.responseBody.nationality }}"></td>
            <td><label for="rightside_nationality">Nationality</label></td>
            <td>{{ duplicate.responseBody.nationality }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.disability is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_disablility" type="radio" name="disability"
                       value="{{ duplicate.responseBody.disability }}"></td>
            <td><label for="rightside_disablility">Disability</label></td>
            <td>{{ duplicate.responseBody.disability|disability }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.primary_contact is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_primary_contact" type="radio" name="primary_contact"
                       value="{{ duplicate.responseBody.primary_contact }}"></td>
            <td><label for="rightside_primary_contact">Primary Contact</label></td>
            <td>{{ duplicate.responseBody.primary_contact }}</td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.marital_status  is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_marital_status" type="radio" name="marital_status"
                       value="{{ duplicate.responseBody.marital_status }}"></td>
            <td><label for="rightside_marital_status">Marital Status</label></td>
            <td>{{ duplicate.responseBody.marital_status|maritalStatus }}</td>
        </tr>
    {% endif %}
    {% if duplicate.responseBody.confidential is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_confidential" type="radio" name="confidential"
                       value="{{ duplicate.responseBody.confidential }}"></td>
            <td><label for="rightside_confidential">Confidential</label></td>
            <td>{{ duplicate.responseBody.confidential }}</td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.household_code is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_household_code" type="radio" name="household_code"
                       value="{{ duplicate.responseBody.household_code }}"></td>
            <td><label for="rightside_household_code">Household Code</label></td>
            <td>{{ duplicate.responseBody.household_code }}</td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.status is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_status_type" type="radio" name="status"
                       value="{{ duplicate.responseBody.status|json_encode }}"></td>
            <td><label for="rightside_status_type">Status</label></td>
            <td>
                  <table style="margin-top: 10px;" width="100%" class="table table-bordered">
                  <tr>
                      <td>Type</td>
                      <td>
                           {{ duplicate.responseBody.status.type|livingStatus }}
                      </td>
                  </tr>
                  {% if duplicate.responseBody.status.date_of_death  is defined %}
                      <tr>
                          <td>Date of Death</td>
                          <td>{{ duplicate.responseBody.status.date_of_death|date }}</td>
                      </tr>
                  {% endif %}
                  </table>

            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.present_address is defined %}
        <tr class="{{ 'DUPLICATE_REASON_NAME_ADDRESS' in reason ? 'highlighted':'' }}">
            <td><input class="radioBtn" id="rightside_present_address" type="radio" name="present_address"
                       value="{{ duplicate.responseBody.present_address|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="rightside_present_address"> Present Address</label></td>
            <td>
                <table style="margin-top: 10px;" width="100%" class="table table-bordered">
                    <tr>
                        <td>Address Line</td>
                        <td>
                            {{ duplicate.responseBody.present_address.address_line }}
                        </td>
                    </tr>
                    <tr>
                        <td>Division</td>
                        <td>
                            {{ duplicate.responseBody.present_address.division_id|division }}
                        </td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td>
                            {{ duplicate.responseBody.present_address.district_id|location(duplicate.responseBody.present_address.division_id) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Upazila</td>
                        <td>
                            {{ duplicate.responseBody.present_address.upazila_id|location(duplicate.responseBody.present_address.division_id~duplicate.responseBody.present_address.district_id) }}
                        </td>
                    </tr>
                    {% if duplicate.responseBody.present_address.city_corporation_id is defined %}
                        <tr>
                            <td>City Corporation</td>
                            <td>
                                {{ duplicate.responseBody.present_address.city_corporation_id|location(duplicate.responseBody.present_address.division_id~duplicate.responseBody.present_address.district_id~duplicate.responseBody.present_address.upazila_id) }}

                            </td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.present_address.union_or_urban_ward_id is defined %}
                        <tr>
                            <td>Union Or Urban Ward</td>
                            <td>
                                {{ duplicate.responseBody.present_address.union_or_urban_ward_id|location(duplicate.responseBody.present_address.division_id~duplicate.responseBody.present_address.district_id~duplicate.responseBody.present_address.upazila_id~duplicate.responseBody.present_address.city_corporation_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.present_address.rural_ward_id is defined %}
                        <tr>
                            <td>Rural Ward</td>
                            <td>
                                {{ duplicate.responseBody.present_address.rural_ward_id|location(duplicate.responseBody.present_address.division_id~duplicate.responseBody.present_address.district_id~duplicate.responseBody.present_address.upazila_id~duplicate.responseBody.present_address.city_corporation_id~duplicate.responseBody.present_address.union_or_urban_ward_id) }}

                            </td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.present_address.country_code is defined %}
                    <tr>
                        <td>Country </td>
                        <td>
                            {{ duplicate.responseBody.present_address.country_code|countrycode}}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.permanent_address is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_permanent_address" type="radio" name="permanent_address"
                       value="{{ duplicate.responseBody.permanent_address|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="rightside_permanent_address">Permanent Address</label></td>
            <td>

                <table width="100%" class="table table-bordered">
                    <tr>
                        <td>Address Line</td>
                        <td>
                            {{ duplicate.responseBody.permanent_address.address_line }}
                        </td>
                    </tr>

                    {% if duplicate.responseBody.permanent_address.division_id is defined %}
                    <tr>
                        <td>Division</td>
                        <td>
                            {{ duplicate.responseBody.permanent_address.division_id|division }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if duplicate.responseBody.permanent_address.district_id is defined %}
                    <tr>
                        <td>District</td>
                        <td>
                            {{ duplicate.responseBody.permanent_address.district_id|location(duplicate.responseBody.permanent_address.division_id) }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if duplicate.responseBody.permanent_address.upazila_id is defined %}
                    <tr>
                        <td>Upazila</td>
                        <td>
                            {{ duplicate.responseBody.permanent_address.upazila_id|location(duplicate.responseBody.permanent_address.division_id~duplicate.responseBody.permanent_address.district_id) }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if duplicate.responseBody.permanent_address.city_corporation_id is defined %}
                        <tr>
                            <td>City Corporation</td>
                            <td>
                                {{ duplicate.responseBody.permanent_address.city_corporation_id|location(duplicate.responseBody.permanent_address.division_id~duplicate.responseBody.permanent_address.district_id~duplicate.responseBody.permanent_address.upazila_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.permanent_address.union_or_urban_ward_id is defined %}
                        <tr>
                            <td>Union Or Urban Ward</td>
                            <td>
                                {{ duplicate.responseBody.permanent_address.union_or_urban_ward_id|location(duplicate.responseBody.permanent_address.division_id~duplicate.responseBody.permanent_address.district_id~duplicate.responseBody.permanent_address.upazila_id~duplicate.responseBody.permanent_address.city_corporation_id) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.permanent_address.rural_ward_id is defined %}
                        <tr>
                            <td>Rural Ward</td>
                            <td>
                                {{ duplicate.responseBody.permanent_address.rural_ward_id|location(duplicate.responseBody.permanent_address.division_id~duplicate.responseBody.permanent_address.district_id~duplicate.responseBody.permanent_address.upazila_id~duplicate.responseBody.permanent_address.city_corporation_id~duplicate.responseBody.permanent_address.union_or_urban_ward_id) }}

                            </td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.permanent_address.country_code is defined %}
                        <tr>
                            <td>Country</td>
                            <td>
                                {{ duplicate.responseBody.permanent_address.country_code|countrycode}}
                            </td>
                        </tr>
                    {% endif %}

                </table>
            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.phone_number is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_phone_number" type="radio" name="phone_number"
                       value="{{ duplicate.responseBody.phone_number|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="rightside_phone_number">Phone Number</label></td>
            <td>
                <table width="100%" class="table table-bordered">
                    {% if duplicate.responseBody.phone_number.country_code is defined %}
                        <tr>
                            <td> Country Code</td>
                            <td>{{ duplicate.responseBody.phone_number.country_code }}</td>
                        </tr>
                    {% endif %}

                    {% if duplicate.responseBody.phone_number.area_code is defined %}
                        <tr>
                            <td>Area Code</td>
                            <td>{{ duplicate.responseBody.phone_number.area_code }}</td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.phone_number.number is defined %}
                        <tr>
                            <td>Number</td>
                            <td>{{ duplicate.responseBody.phone_number.number }}</td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.phone_number.extension is defined %}
                        <tr>
                            <td>Extension</td>
                            <td>{{ duplicate.responseBody.phone_number.extension }}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.primary_contact_number is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_primary_contact_number" type="radio" name="primary_contact_number"
                       value="{{ duplicate.responseBody.primary_contact_number|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="rightside_primary_contact_number">Primary Contact Number</label></td>
            <td>
                <table width="100%" class="table table-bordered">
                    {% if duplicate.responseBody.primary_contact_number.country_code is defined %}
                        <tr>
                            <td> Country Code</td>
                            <td>{{ duplicate.responseBody.primary_contact_number.country_code }}</td>
                        </tr>
                    {% endif %}

                    {% if duplicate.responseBody.primary_contact_number.area_code is defined %}
                        <tr>
                            <td>Area Code</td>
                            <td>{{ duplicate.responseBody.primary_contact_number.area_code }}</td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.primary_contact_number.number is defined %}
                        <tr>
                            <td>Number</td>
                            <td>{{ duplicate.responseBody.primary_contact_number.number }}</td>
                        </tr>
                    {% endif %}
                    {% if duplicate.responseBody.primary_contact_number.extension is defined %}
                        <tr>
                            <td>Extension</td>
                            <td>{{ duplicate.responseBody.primary_contact_number.extension }}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}

    {% if duplicate.responseBody.relations is defined %}
        <tr>
            <td><input class="radioBtn" id="rightside_relation" type="radio" name="relations"
                       value="{{ duplicate.responseBody.relations|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"></td>
            <td><label for="rightside_relation">Relation</label></td>
            <td>
                {% for relation in duplicate.responseBody.relations %}
                    <table style="margin-bottom: 10px;" class="table table-bordered" width="100%">

                        <tr>
                            <td>Type</td>
                            <td>{{ relation.type|relation }}</td>
                        </tr>

                        {% if relation.hid is defined %}
                            <tr>
                                <td>HID</td>
                                <td>{{ relation.hid }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.nid is defined %}
                            <tr>
                                <td>NID</td>
                                <td>{{ relation.nid }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.uid is defined %}
                            <tr>
                                <td>UID</td>
                                <td>{{ relation.uid }}</td>
                            </tr>
                        {% endif %}
                        {% if  relation.bin_brn is defined %}
                            <tr>
                                <td>BRN</td>
                                <td>{{ relation.bin_brn }}</td>
                            </tr>
                        {% endif %}

                        {% if relation.name_bangla is defined %}
                            <tr>
                                <td>Bangla Name</td>
                                <td>{{ relation.name_bangla }}</td>
                            </tr>
                        {% endif %}
                        {% if  relation.given_name is defined %}
                            <tr>
                                <td>Given Name</td>
                                <td>{{ relation.given_name }}</td>
                            </tr>
                        {% endif %}

                        {% if relation.sur_name is defined %}
                            <tr>
                                <td>Surname</td>
                                <td>{{ relation.sur_name }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.relational_status is defined %}
                            <tr>
                                <td>Status</td>
                                <td>{{ relation.relational_status|maritalStatus }}</td>
                            </tr>
                        {% endif %}
                        {% if relation.marriage_id is defined %}
                            <tr>
                                <td>Marriage ID</td>
                                <td>{{ relation.marriage_id}}</td>
                            </tr>
                        {% endif %}

                    </table>
                {% endfor %}
            </td>

        </tr>
    {% endif %}

    </table>
    <input type="hidden" name="csrfToken" id="csrfToken" value="{{ csrfToken }}"/>
    <input type="hidden" name="catchment" id="catchment" value="{{ catchment }}"/>
    <button id="not-duplicates" class="MT20 btn btn-primary" type="button">Not Duplicates</button>
    <button id="resolve-duplicates" class="MT20 btn btn-primary" type="button">Resolve Duplicates</button>
    <button id="merge"  class="MT20 btn btn-primary radioBtn" type="button" disabled>Merge</button>
    <button id="cancel" class="MT20 btn btn-primary radioBtn" type="button">Cancel</button>
    </td>

    </tr>
    </table>
    <a class="MB20 btn btn-primary" href="{{ path('mci_patient_deduplication', {'catchment': catchment}) }}">Back</a>
    </form>
    <script type="application/javascript">

        var nonDuplicate = $("#not-duplicates");
        nonDuplicate.click(function () {
            $('#myModal').modal('show');
        });

        $("#distinct").click(function () {
            var hidOne = $("#hidOne").val();
            var hidTwo = $("#hidTwo").val();
            var csrfToken = $("#csrfToken").val();
            var dedupDetailsUrl = "{{ path('mci_patient_deduplication_distinct') }}";
            var dedupUrl = "{{ path('mci_patient_deduplication', {'catchment': catchment}) }}";

            $.ajax({
                url: dedupDetailsUrl,
                type: "POST",
                data: {hidOne: hidOne, hidTwo: hidTwo, csrfToken: csrfToken}
            })
                    .done(function (html) {
                        if ('OK' != html) {
                            $('#flush_message').html(html);
                            $('#flush_message').addClass("alert-warning");
                            $('#flush_message').show();
                        } else {
                            window.location = dedupUrl;
                        }

                        $('#myModal').modal('hide');

                    }).fail(function (jqXHR, exception) {
                        if (jqXHR.status === 0) {
                            alert('Not connect.\n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.\n' + jqXHR.responseText);
                        }
                    });

        });

        $("#resolve-duplicates").on("click", function () {
            $('.radioBtn').css('display', 'inline-block');
            var topRadioBtn = $('input[name=sidechange]:checked').val();
            var sideSelector = $('#leftside table .radioBtn,#rightside table .radioBtn' );
            if(topRadioBtn){
                sideSelector.css('display', 'inline-block');
            }else{
                sideSelector.css('display', 'none');
            }

            $('#resolve-duplicates').css('display', 'none');
            $('#not-duplicates').css('display', 'none');
        });

        $("#cancel").on("click", function () {
            $('.radioBtn').css('display', 'none');
            $('#resolve-duplicates').css('display', 'inline-block');
            $('#not-duplicates').css('display', 'inline-block');
        });

        $("#leftPart").on("click", function () {
            $('#leftside .radioBtn').prop('checked', true);
            $('#rightside .radioBtn').removeAttr('checked');
        });

        $("#rightPart").on("click", function () {
            $('#rightside .radioBtn').prop('checked', true);
            $('#leftside .radioBtn').removeAttr('checked');
        });

        $("#merge").on("click", function () {
            $('#mergeModal').modal('show');
        });

        $("#dedupMerge").on("click", function(){
            $('#mergeModal').modal('hide');
            $("#dedupMergeForm").submit();
        });

        $('.topRadioBtn').click(function(){
            var topRadioBtn = $('input[name=sidechange]:checked').val();
            if(topRadioBtn){
                  $("#merge").removeAttr('disabled');
                  $('#leftside table .radioBtn,#rightside table .radioBtn' ).css('display', 'inline-block');
            }
        });




    </script>


{% endblock %}
