{% extends 'base.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('dedupFlash') %}
        <div style="margin-top: 10px;" class="alert alert-success" >
            {{ flashMessage }}
        </div>
    {% endfor %}

{% if systemError is defined  and systemError is not empty %}
    <div class="alert alert-danger"   style="margin-top: 10px;">
    <ul>
        {% for sysError in systemError  %}
            <li>{{ sysError }}</li>
        {% endfor %}
    </ul>
    </div>
  {% else %}


<div style="width: 100%; padding-top: 10px;">
    <h3 style="float: left; width: 30%;">De-duplication list</h3>
    <div style="float: right; width: 70%; margin-top: 20px;margin-bottom: 10px;">
        <form action="{{ path('mci_patient_deduplication') }}" autocomplete="off">
            <div style="float:right;">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
            <div style="float: right; margin-right: 10px;">
                <select name="catchment" class="form-control">
                    <option value="">Please Select Catchment</option>
                    {% for catchment in catchments  %}
                        {% set queryString = catchment|join %}
                        <option {{ (queryString == app.request.get('catchment')) ? 'selected=selected' : '' }}  value="{{ queryString }}">
                            {{ catchment.division_id|division }}
                            -{{ catchment.district_id|location(catchment.division_id) }}
                            {% if catchment.upazila_id is defined %}
                            -{{ catchment.upazila_id|location(catchment.division_id~catchment.district_id) }}
                            {% endif %}

                            {% if catchment.citycorporation_id is defined %}
                                -{{ catchment.citycorporation_id|location(catchment.division_id~catchment.district_id~catchment.upazila_id) }}
                            {% endif %}

                            {% if catchment.union_or_urban_ward_id is defined %}
                               -{{ catchment.union_or_urban_ward_id|location(catchment.division_id~catchment.district_id~catchment.upazila_id~catchment.citycorporation_id) }}
                            {% endif %}

                            {% if catchment.rural_ward_id is defined %}
                                -{{ catchment.union_or_urban_ward_id|location(catchment.division_id~catchment.district_id~catchment.upazila_id~catchment.citycorporation_id~catchment.union_or_urban_ward_id) }}
                            {% endif %}

                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div style="clear: both"></div>
</div>
      {% if catchment is defined and catchment is not empty %}
          {% if responseBody.results is defined and responseBody.results is not empty %}
              <table width="100%" class="table table-bordered">
                  <thead>
                  <tr>
                      <th>HID</th>
                      <th>Name</th>
                      <th>Reason</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for result in responseBody.results %}
                      <tr>
                          <td> {{ result.patient1.hid }} - {{ result.patient2.hid }} </td>
                          <td>
                              {% if result.patient1.given_name is defined  %}
                                  {{ result.patient1.given_name }}
                              {% endif %}
                          </td>
                          <td>
                              {{ result.reasons|join(", ")}}
                          </td>
                          <td><a href="{{ path('mci_patient_deduplication_details', { 'hid1': result.patient1.hid,'hid2': result.patient2.hid,'catchment': catchment,'reason':result.reasons|join("-") }) }}" class="">View</a> </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>

              <div class="clear"></div>
           {#   <nav>
                  <ul class="pager">
                    {% if responseBody.additional_info.previous is defined and  responseBody.additional_info.previous is not empty %}
                      <li>
                          <a href="{{ path('mci_patient_deduplication', {'marker':responseBody.results.0.last_updated,'catchment': catchment, 'dir' : 'before' }) }}">
                              Previous</a>
                      </li>
                    {% else %}
                      <li> <a class="disabled"  href="#">Previous</a></li>
                    {% endif %}
                      {% if responseBody.additional_info.next is defined and  responseBody.additional_info.next is not empty %}
                          <li>
                              <a href="{{ path('mci_patient_deduplication', {'marker':responseBody.results|last.last_updated,'catchment': catchment, 'dir' : 'after'  }) }}">
                                  Next
                              </a>
                          </li>
                      {% else %}
                         <li><a class="disabled"  href="#">Next</a></li>
                      {% endif %}
                  </ul>
              </nav>#}
          {% else %}
              <div>No duplicate patients found</div>
          {% endif %}
      {% endif %}
{% endif %}
{% endblock %}
