{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- BEGIN GLOBAL STYLES -->
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/mcipatient/css/datepicker.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- END GLOBAL STYLES -->
    <style type="text/css">
         a.tabError{
            background: #FEEFB3 !important;
        }
    </style>
{% endblock stylesheets %}
{% block content %}

   <div class="col-lg-12">
        <h3 class="page-header">Update Patient</h3>

    </div>
    <div style="clear: both;" class="clear"></div>
    <!-- /.col-lg-12 -->
    {% if errors is defined and errors is empty %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
           Patient is updated successfully.
        </div>
    {% endif %}

    {% if errors is defined and errors is not empty %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <ul>
           {% for error in errors %}
           <li>{{ error }}</li>
           {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="ajax_error"></div>
    <div style="margin-bottom: 10px;" class="bs-example">
        <ul class="nav nav-tabs" id="patient-update-tabs">
            <li class="active"><a data-toggle="tab" href="#personalInfo">Personal Information</a></li>
            <li><a data-toggle="tab" href="#presentAddress">Present Address</a></li>
            <li><a data-toggle="tab" href="#permanentAddress">Permanent Address</a></li>
            <li><a data-toggle="tab" href="#phoneNumber">Phone Number</a></li>
            <li><a data-toggle="tab" href="#primaryContactNo">Primary Contact Number</a></li>
            <li><a data-toggle="tab" href="#relations">Relations</a></li>
        </ul>
    </div>

{{ form_start(form, {'action': path('mci_patient_update',{'id': hid}), 'method': 'POST','attr': {'id': 'patientEditForm'}}) }}

    <div class="tab-content">
    <div id="personalInfo" class="tab-pane inputBoxSize fade in active">

        <div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_nid" class="control-label col-xs-2">National Identity Card No(NID)</label>

                <div class="col-xs-10">
                    {{ form_widget(form.nid) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_uid" class="control-label col-xs-2">Unified Identification No(UID)</label>

                <div class="col-xs-10">
                    {{ form_widget(form.uid) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_bin_brn" class="control-label col-xs-2">Birth Registration No(BRN)</label>

                <div class="col-xs-10">
                    {{ form_widget(form.bin_brn) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_given_name" class="control-label col-xs-2">Given Name</label>

                <div class="col-xs-10">
                    {{ form_widget(form.given_name) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_sur_name" class="control-label col-xs-2">Surname</label>

                <div class="col-xs-10">
                    {{ form_widget(form.sur_name) }}
                </div>
                <div style="clear: both;"></div>
            </div>


            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_name_bangla" class="control-label col-xs-2">Bangla Name</label>

                <div class="col-xs-10">
                    {{ form_widget(form.name_bangla) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_date_of_birth" class="control-label col-xs-2">Date of Birth</label>

                <div class="col-xs-10">
                    {{ form_widget(form.date_of_birth) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_gender" class="control-label col-xs-2">Gender</label>

                <div class="col-xs-10">
                    {{ form_widget(form.gender) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_religion" class="control-label col-xs-2">Religion</label>

                <div class="col-xs-10">
                    {{ form_widget(form.religion) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_blood_group" class="control-label col-xs-2">Blood Group</label>

                <div class="col-xs-10">
                    {{ form_widget(form.blood_group) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact" class="control-label col-xs-2">Primary Contact</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact) }}
                </div>

                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_marital_status" class="control-label col-xs-2">Marital Status</label>

                <div class="col-xs-10">
                    {{ form_widget(form.marital_status) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_occupation" class="control-label col-xs-2">Occupation</label>

                <div class="col-xs-10">
                    {{ form_widget(form.occupation) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_edu_level" class="control-label col-xs-2">Education</label>

                <div class="col-xs-10">
                    {{ form_widget(form.edu_level) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_disability" class="control-label col-xs-2">Disability</label>

                <div class="col-xs-10">
                    {{ form_widget(form.disability) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_ethnicity" class="control-label col-xs-2">Ethnicity</label>

                <div class="col-xs-10">
                    {{ form_widget(form.ethnicity) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_place_of_birth" class="control-label col-xs-2">Place of Birth</label>

                <div class="col-xs-10">
                    {{ form_widget(form.place_of_birth) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_nationality" class="control-label col-xs-2">Nationality</label>

                <div class="col-xs-10">
                    {{ form_widget(form.nationality) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_is_alive" class="control-label col-xs-2">Living Status</label>
                <div class="col-xs-10">
                    {{ form_widget(form.is_alive) }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div id="presentAddress" class="tab-pane inputBoxSize fade">

        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_address_line" class="control-label col-xs-2">Address Line</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.address_line) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_division_id" class="control-label col-xs-2">Division</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.division_id) }}
                </div>

                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_district_id" class="control-label col-xs-2">District</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.district_id) }}
                </div>
                <span class="districtloader" style="float: right;display: none"><img src="/assets/images/ajax-loader.gif"></span>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_upazila_id" class="control-label col-xs-2">Upazila</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.upazila_id) }}
                </div>
                <span class="upazilaloader" style="float: right;display: none"><img src="/assets/images/ajax-loader.gif"></span>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_city_corporation_id" class="control-label col-xs-2">City Corporation</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.city_corporation_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_union_or_urban_ward_id" class="control-label col-xs-2">Union/Urban Ward </label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.union_or_urban_ward_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_rural_ward_id" class="control-label col-xs-2">Rural Ward</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.rural_ward_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.country_code, { 'attr':{'disabled':'disabled'} } ) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_holding_number" class="control-label col-xs-2">Holding Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.holding_number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_street" class="control-label col-xs-2">Street</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.street) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_area_mouja" class="control-label col-xs-2">Area Mouja</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.area_mouja) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_village" class="control-label col-xs-2">Village</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.village) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_post_office" class="control-label col-xs-2">Post Office</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.post_office) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_post_code" class="control-label col-xs-2">Post Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.post_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div id="permanentAddress" class="tab-pane inputBoxSize fade">
        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_address_line" class="control-label col-xs-2">Address Line</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.address_line) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_division_id" class="control-label col-xs-2">Division</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.division_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_district_id" class="control-label col-xs-2">District</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.district_id) }}
                </div>
                <span class="districtloader" style="float: right;display: none"><img src="/assets/images/ajax-loader.gif"></span>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_upazila_id" class="control-label col-xs-2">Upazila</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.upazila_id) }}
                </div>
                <span class="upazilaloader" style="float: right;display: none"><img src="/assets/images/ajax-loader.gif"></span>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_city_corporation_id" class="control-label col-xs-2">City Corporation</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.city_corporation_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_union_or_urban_ward_id" class="control-label col-xs-2">Union/Urban Ward</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.union_or_urban_ward_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_rural_ward_id" class="control-label col-xs-2">Rural Ward</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.rural_ward_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_holding_number" class="control-label col-xs-2">Holding Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.holding_number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_street" class="control-label col-xs-2">Street</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.street) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_area_mouja" class="control-label col-xs-2">Area Mouja</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.area_mouja) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_village" class="control-label col-xs-2">Village</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.village) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_post_office" class="control-label col-xs-2">Post Office</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.post_office) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_post_code" class="control-label col-xs-2">Post Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.post_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <div id="phoneNumber" class="tab-pane inputBoxSize fade">

        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_area_code" class="control-label col-xs-2">Area Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.area_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_number" class="control-label col-xs-2">Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_extension" class="control-label col-xs-2">Extension</label>
                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.extension) }}
                </div>
                <div style="clear: both;"></div>
            </div>

        </div>

    </div>

    <div id="primaryContactNo" class="tab-pane inputBoxSize fade">
        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_area_code" class="control-label col-xs-2">Area Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.area_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_number" class="control-label col-xs-2">Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_extension" class="control-label col-xs-2">Extension</label>
                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.extension) }}
                </div>
                <div style="clear: both;"></div>
            </div>

        </div>

    </div>


    <div id="relations" class="tab-pane  fade">
       <div class="btn btn-primary"><span id="addRelation" style="cursor: pointer;"><i class="glyphicon glyphicon-plus"></i> Add Relations</span></div>
        <table class="table">
            <thead>
            <tr>
                <th>HID</th>
                <th>NID</th>
                <th>BRN</th>
                <th>UID</th>
                <th>Type</th>
                <th>Bangla Name</th>
                <th>Given Name</th>
                <th>Surname</th>
                <th>Marriage ID</th>
                <th>Relational Status</th>
                <th></th>
            </tr>
            </thead>
       <tbody  class="relation-body" data-prototype="&lt;tr&gt;
        &lt;td&gt;&lt;input  type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__hid&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][hid]&quot;  class=&quot;form-control relation-hid&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input  type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__nid&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][nid]&quot;  class=&quot;form-control relation-nid&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__bin_brn&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][bin_brn]&quot; class=&quot;form-control relation-brn&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__uid&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__]&quot;  class=&quot;form-control relation-uid &quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;
        &lt;select id=&quot;mci_bundle_patientBundle_patients_relations___name__type&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][type]&quot;  class=&quot;form-control relation-type&quot; &gt;
          &lt;option value=&quot;FAMMEMB&quot;&gt;family member&lt;/option&gt;
        &lt;option value=&quot;CHILD&quot;&gt;child&lt;/option&gt;
        &lt;option value=&quot;CHLDADOPT&quot;&gt;adopted child&lt;/option&gt;
        &lt;option value=&quot;DAUADOPT&quot;&gt;adopted daughter&lt;/option&gt;
        &lt;option value=&quot;SONADOPT&quot;&gt;adopted son&lt;/option&gt;
        &lt;option value=&quot;CHLDFOST&quot;&gt;foster child&lt;/option&gt;
        &lt;option value=&quot;DAUFOST&quot;&gt;foster daughter&lt;/option&gt;
        &lt;option value=&quot;SONFOST&quot;&gt;foster son&lt;/option&gt;
        &lt;option value=&quot;DAUC&quot;&gt;daughter&lt;/option&gt;
        &lt;option value=&quot;DAU&quot;&gt;natural daughter&lt;/option&gt;
        &lt;option value=&quot;STPDAU&quot;&gt;stepdaughter&lt;/option&gt;
        &lt;option value=&quot;NCHILD&quot;&gt;natural child&lt;/option&gt;
        &lt;option value=&quot;SON&quot;&gt;natural son&lt;/option&gt;
        &lt;option value=&quot;SONC&quot;&gt;son&lt;/option&gt;
        &lt;option value=&quot;STPSON&quot;&gt;stepson&lt;/option&gt;
        &lt;option value=&quot;STPCHLD&quot;&gt;step child&lt;/option&gt;
        &lt;option value=&quot;EXT&quot;&gt;extended family member&lt;/option&gt;
        &lt;option value=&quot;AUNT&quot;&gt;aunt&lt;/option&gt;
        &lt;option value=&quot;MAUNT&quot;&gt;maternal aunt&lt;/option&gt;
        &lt;option value=&quot;PAUNT&quot;&gt;paternal aunt&lt;/option&gt;
        &lt;option value=&quot;COUSN&quot;&gt;cousin&lt;/option&gt;
        &lt;option value=&quot;MCOUSN&quot;&gt;maternal cousin&lt;/option&gt;
        &lt;option value=&quot;PCOUSN&quot;&gt;paternal cousin&lt;/option&gt;
        &lt;option value=&quot;GGRPRN&quot;&gt;great grandparent&lt;/option&gt;
        &lt;option value=&quot;GGRFTH&quot;&gt;great grandfather&lt;/option&gt;
        &lt;option value=&quot;MGGRFTH&quot;&gt;maternal great-grandfather&lt;/option&gt;
        &lt;option value=&quot;PGGRFTH&quot;&gt;paternal great-grandfather&lt;/option&gt;
        &lt;option value=&quot;GGRMTH&quot;&gt;great grandmother&lt;/option&gt;
        &lt;option value=&quot;MGGRMTH&quot;&gt;maternal great-grandmother&lt;/option&gt;
        &lt;option value=&quot;PGGRMTH&quot;&gt;paternal great-grandmother&lt;/option&gt;
        &lt;option value=&quot;MGGRPRN&quot;&gt;maternal great-grandparent&lt;/option&gt;
        &lt;option value=&quot;PGGRPRN&quot;&gt;paternal great-grandparent&lt;/option&gt;
        &lt;option value=&quot;GRNDCHILD&quot;&gt;grandchild&lt;/option&gt;
        &lt;option value=&quot;GRNDDAU&quot;&gt;granddaughter&lt;/option&gt;
        &lt;option value=&quot;GRNDSON&quot;&gt;grandson&lt;/option&gt;
        &lt;option value=&quot;GRPRN&quot;&gt;grandparent&lt;/option&gt;
        &lt;option value=&quot;GRFTH&quot;&gt;grandfather&lt;/option&gt;
        &lt;option value=&quot;MGRFTH&quot;&gt;maternal grandfather&lt;/option&gt;
        &lt;option value=&quot;PGRFTH&quot;&gt;paternal grandfather&lt;/option&gt;
        &lt;option value=&quot;GRMTH&quot;&gt;grandmother&lt;/option&gt;
        &lt;option value=&quot;MGRMTH&quot;&gt;maternal grandmother&lt;/option&gt;
        &lt;option value=&quot;PGRMTH&quot;&gt;paternal grandmother&lt;/option&gt;
        &lt;option value=&quot;MGRPRN&quot;&gt;maternal grandparent&lt;/option&gt;
        &lt;option value=&quot;PGRPRN&quot;&gt;paternal grandparent&lt;/option&gt;
        &lt;option value=&quot;INLAW&quot;&gt;inlaw&lt;/option&gt;
        &lt;option value=&quot;CHLDINLAW&quot;&gt;child-in-law&lt;/option&gt;
        &lt;option value=&quot;DAUINLAW&quot;&gt;daughter in-law&lt;/option&gt;
        &lt;option value=&quot;SONINLAW&quot;&gt;son in-law&lt;/option&gt;
        &lt;option value=&quot;PRNINLAW&quot;&gt;parent in-law&lt;/option&gt;
        &lt;option value=&quot;FTHINLAW&quot;&gt;father-in-law&lt;/option&gt;
        &lt;option value=&quot;MTHINLAW&quot;&gt;mother-in-law&lt;/option&gt;
        &lt;option value=&quot;SIBINLAW&quot;&gt;sibling in-law&lt;/option&gt;
        &lt;option value=&quot;BROINLAW&quot;&gt;brother-in-law&lt;/option&gt;
        &lt;option value=&quot;SISINLAW&quot;&gt;sister-in-law&lt;/option&gt;
        &lt;option value=&quot;NIENEPH&quot;&gt;niece/nephew&lt;/option&gt;
        &lt;option value=&quot;NEPHEW&quot;&gt;nephew&lt;/option&gt;
        &lt;option value=&quot;NIECE&quot;&gt;niece&lt;/option&gt;
        &lt;option value=&quot;UNCLE&quot;&gt;uncle&lt;/option&gt;
        &lt;option value=&quot;MUNCLE&quot;&gt;maternal uncle&lt;/option&gt;
        &lt;option value=&quot;PUNCLE&quot;&gt;paternal uncle&lt;/option&gt;
        &lt;option value=&quot;PRN&quot;&gt;parent&lt;/option&gt;
        &lt;option value=&quot;ADOPTP&quot;&gt;adoptive parent&lt;/option&gt;
        &lt;option value=&quot;ADOPTF&quot;&gt;adoptive father&lt;/option&gt;
        &lt;option value=&quot;ADOPTM&quot;&gt;adoptive mother&lt;/option&gt;
        &lt;option value=&quot;FTH&quot; selected=&quot;selected&quot;&gt;father&lt;/option&gt;
        &lt;option value=&quot;FTHFOST&quot;&gt;foster father&lt;/option&gt;
        &lt;option value=&quot;NFTH&quot;&gt;natural father&lt;/option&gt;
        &lt;option value=&quot;NFTHF&quot;&gt;natural father of fetus&lt;/option&gt;
        &lt;option value=&quot;STPFTH&quot;&gt;stepfather&lt;/option&gt;
        &lt;option value=&quot;MTH&quot;&gt;mother&lt;/option&gt;
        &lt;option value=&quot;GESTM&quot;&gt;gestational mother&lt;/option&gt;
        &lt;option value=&quot;MTHFOST&quot;&gt;foster mother&lt;/option&gt;
        &lt;option value=&quot;NMTH&quot;&gt;natural mother&lt;/option&gt;
        &lt;option value=&quot;NMTHF&quot;&gt;natural mother of fetus&lt;/option&gt;
        &lt;option value=&quot;STPMTH&quot;&gt;stepmother&lt;/option&gt;
        &lt;option value=&quot;NPRN&quot;&gt;natural parent&lt;/option&gt;
        &lt;option value=&quot;PRNFOST&quot;&gt;foster parent&lt;/option&gt;
        &lt;option value=&quot;STPPRN&quot;&gt;step parent&lt;/option&gt;
        &lt;option value=&quot;SIB&quot;&gt;sibling&lt;/option&gt;
        &lt;option value=&quot;BRO&quot;&gt;brother&lt;/option&gt;
        &lt;option value=&quot;HBRO&quot;&gt;half-brother&lt;/option&gt;
        &lt;option value=&quot;NBRO&quot;&gt;natural brother&lt;/option&gt;
        &lt;option value=&quot;TWINBRO&quot;&gt;twin brother&lt;/option&gt;
        &lt;option value=&quot;FTWINBRO&quot;&gt;fraternal twin brother&lt;/option&gt;
        &lt;option value=&quot;ITWINBRO&quot;&gt;identical twin brother&lt;/option&gt;
        &lt;option value=&quot;STPBRO&quot;&gt;stepbrother&lt;/option&gt;
        &lt;option value=&quot;HSIB&quot;&gt;half-sibling&lt;/option&gt;
        &lt;option value=&quot;HSIS&quot;&gt;half-sister&lt;/option&gt;
        &lt;option value=&quot;NSIB&quot;&gt;natural sibling&lt;/option&gt;
        &lt;option value=&quot;NSIS&quot;&gt;natural sister&lt;/option&gt;
        &lt;option value=&quot;TWINSIS&quot;&gt;twin sister&lt;/option&gt;
        &lt;option value=&quot;FTWINSIS&quot;&gt;fraternal twin sister&lt;/option&gt;
        &lt;option value=&quot;ITWINSIS&quot;&gt;identical twin sister&lt;/option&gt;
        &lt;option value=&quot;TWIN&quot;&gt;twin&lt;/option&gt;
        &lt;option value=&quot;FTWIN&quot;&gt;fraternal twin&lt;/option&gt;
        &lt;option value=&quot;ITWIN&quot;&gt;identical twin&lt;/option&gt;
        &lt;option value=&quot;SIS&quot;&gt;sister&lt;/option&gt;
        &lt;option value=&quot;STPSIS&quot;&gt;stepsister&lt;/option&gt;
        &lt;option value=&quot;STPSIB&quot;&gt;step sibling&lt;/option&gt;
        &lt;option value=&quot;SIGOTHR&quot;&gt;significant other&lt;/option&gt;
        &lt;option value=&quot;DOMPART&quot;&gt;domestic partner&lt;/option&gt;
        &lt;option value=&quot;SPS&quot;&gt;spouse&lt;/option&gt;
        &lt;option value=&quot;HUSB&quot;&gt;husband&lt;/option&gt;
        &lt;option value=&quot;WIFE&quot;&gt;wife&lt;/option&gt;

        &lt;select&gt;
        &lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__name_bangla&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][name_bangla]&quot;  class=&quot;form-control relation-name-bangla&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__given_name&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][given_name]&quot;  class=&quot;form-control relation-given-name&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__sur_name&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][sur_name]&quot;  class=&quot;form-control relation-sur-name&quot; &gt; &lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__marriage_id&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][marriage_id]&quot;  class=&quot;form-control relation-marriage-id&quot; &gt; &lt;/td&gt;
        &lt;td&gt;&lt;select  id=&quot;mci_bundle_patientBundle_patients_relations___name__relational_status&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][relational_status]&quot; class=&quot;form-control relation-relational-status&quot;&gt;
            &lt;option value=&quot;&quot;&gt;N/A&lt;/option&gt;
            &lt;option value=&quot;3&quot;&gt;Widowed&lt;/option&gt;
            &lt;option value=&quot;4&quot;&gt;Separated&lt;/option&gt;
            &lt;option value=&quot;5&quot;&gt;Divorced&lt;/option&gt;
         &lt;select&gt;
        &lt;/td&gt;
        &lt;td&gt;&lt;span style=&quot;margin-top: 7px;&quot; class=&quot;glyphicon glyphicon-remove remove&quot;&gt;&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;">
            {% for relation in form.relations %}
                <tr>

                    <td>{{ form_widget(relation.hid) }}</td>
                    <td>{{ form_widget(relation.id) }}{{ form_widget(relation.nid) }}</td>
                    <td>{{ form_widget(relation.bin_brn) }}</td>
                    <td>{{ form_widget(relation.uid) }}</td>
                    <td>{{ form_widget(relation.type) }}</td>
                    <td>{{ form_widget(relation.name_bangla) }}</td>
                    <td>{{ form_widget(relation.given_name) }}</td>
                    <td>{{ form_widget(relation.sur_name) }}</td>
                    <td>
                        {% if relation.type.vars.value != 'SPS'   %} {{ form_widget(relation.marriage_id , { 'attr': {'readonly': 'readonly', 'placeholder': 'N/A'},  value : '' } ) }}
                        {% else %}
                        {{ form_widget(relation.marriage_id) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if relation.type.vars.value != 'SPS'   %} {{ form_widget(relation.relational_status, { 'attr': {'readonly': 'readonly'},  value : '' }) }}
                        {% else %}
                            {{ form_widget(relation.relational_status) }}
                        {% endif %}
                    </td>
                    <td><span data-marital-status="{{ form.marital_status.vars.value }}" data-hid="{{ hid }}"  style="margin-top: 7px;" class="glyphicon glyphicon-remove remove"></span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


 {{ form_widget(form.save) }} <a class="btn btn-primary form-group" type="button" href="{{ path('mci_patient_showpage',{ 'id': hid }) }}"> Cancel </a>
    </div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL JS -->
    {% javascripts
        "bundles/mcipatient/js/bootstrap-datepicker.js"
        "bundles/mcipatient/js/patient-edit.js"
    %}
    <!-- END PAGE LEVEL JS -->
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
