{% extends 'base.html.twig' %}
{% block content %}

   <div class="col-lg-12">
        <h3 class="page-header">Update Patient</h3>
    </div>
    <!-- /.col-lg-12 -->

    <div style="margin-bottom: 10px;" class="bs-example">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#personalInfo">Personal Information</a></li>
            <li><a data-toggle="tab" href="#presentAddreess">Present Address</a></li>
            <li><a data-toggle="tab" href="#permanentAddreess">Permanent Address</a></li>
            <li><a data-toggle="tab" href="#phoneNumber">Phone Number</a></li>
            <li><a data-toggle="tab" href="#primaryContactNo">Primary Contact Number</a></li>
            <li><a data-toggle="tab" href="#relations">Relations</a></li>
        </ul>
    </div>

{{ form_start(form) }}

    <div class="tab-content">
    <div id="personalInfo" class="tab-pane inputBoxSize fade in active">

        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_nid" class="control-label col-xs-2">National ID(NID)</label>

                <div class="col-xs-10">
                    {{ form_widget(form.nid) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_uid" class="control-label col-xs-2">Unique Identification (UID)</label>

                <div class="col-xs-10">
                    {{ form_widget(form.uid) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_bin_brn" class="control-label col-xs-2">Bith Registration No(BRN)</label>

                <div class="col-xs-10">
                    {{ form_widget(form.bin_brn) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_sur_name" class="control-label col-xs-2">Sur Name</label>

                <div class="col-xs-10">
                    {{ form_widget(form.sur_name) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_given_name" class="control-label col-xs-2">Given Name</label>

                <div class="col-xs-10">
                    {{ form_widget(form.given_name) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_name_bangla" class="control-label col-xs-2">Bangla Name</label>

                <div class="col-xs-10">
                    {{ form_widget(form.name_bangla) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_date_of_birth" class="control-label col-xs-2">Date of Birth</label>

                <div class="col-xs-10">
                    {{ form_widget(form.date_of_birth) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_gender" class="control-label col-xs-2">Gender</label>

                <div class="col-xs-10">
                    {{ form_widget(form.gender) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_religion" class="control-label col-xs-2">Religion</label>

                <div class="col-xs-10">
                    {{ form_widget(form.religion) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_blood_group" class="control-label col-xs-2">Blood Group</label>

                <div class="col-xs-10">
                    {{ form_widget(form.blood_group) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact" class="control-label col-xs-2">Primary Contact</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact) }}
                </div>

                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_marital_status" class="control-label col-xs-2">Marital Status</label>

                <div class="col-xs-10">
                    {{ form_widget(form.marital_status) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_occupation" class="control-label col-xs-2">Occupation</label>

                <div class="col-xs-10">
                    {{ form_widget(form.occupation) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_edu_level" class="control-label col-xs-2">Education</label>

                <div class="col-xs-10">
                    {{ form_widget(form.edu_level) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_disability" class="control-label col-xs-2">Disability</label>

                <div class="col-xs-10">
                    {{ form_widget(form.disability) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_ethnicity" class="control-label col-xs-2">Ethnicity</label>

                <div class="col-xs-10">
                    {{ form_widget(form.ethnicity) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_place_of_birth" class="control-label col-xs-2">Place of Birth</label>

                <div class="col-xs-10">
                    {{ form_widget(form.place_of_birth) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_nationality" class="control-label col-xs-2">Nationality</label>

                <div class="col-xs-10">
                    {{ form_widget(form.nationality) }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div id="presentAddreess" class="tab-pane inputBoxSize fade">

        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_address_line" class="control-label col-xs-2">Address Line</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.address_line) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_division_id" class="control-label col-xs-2">Division</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.division_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_district_id" class="control-label col-xs-2">District</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.district_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_upazilla_id" class="control-label col-xs-2">Upazilla</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.upazilla_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_union_id" class="control-label col-xs-2">Union</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.union_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_city_corporation_id" class="control-label col-xs-2">City Corporation</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.city_corporation_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_holding_number" class="control-label col-xs-2">Holding Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.holding_number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_street" class="control-label col-xs-2">Street</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.street) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_area_mouja" class="control-label col-xs-2">Area Mouja</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.area_mouja) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_village" class="control-label col-xs-2">Village</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.village) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_post_office" class="control-label col-xs-2">Post Office</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.post_office) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_present_address_post_code" class="control-label col-xs-2">Post Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.present_address.post_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div id="permanentAddreess" class="tab-pane inputBoxSize fade">
        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_address_line" class="control-label col-xs-2">Address Line</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.address_line) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_division_id" class="control-label col-xs-2">Division</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.division_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_district_id" class="control-label col-xs-2">District</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.district_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_upazilla_id" class="control-label col-xs-2">Upazilla</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.upazilla_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_union_id" class="control-label col-xs-2">Union</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.union_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_city_corporation_id" class="control-label col-xs-2">City Corporation</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.city_corporation_id) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_holding_number" class="control-label col-xs-2">Holding Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.holding_number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_street" class="control-label col-xs-2">Street</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.street) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_area_mouja" class="control-label col-xs-2">Area Mouja</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.area_mouja) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_village" class="control-label col-xs-2">Village</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.village) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_post_office" class="control-label col-xs-2">Post Office</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.post_office) }}
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_permanent_address_post_code" class="control-label col-xs-2">Post Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.permanent_address.post_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <div id="phoneNumber" class="tab-pane inputBoxSize fade">

        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_area_code" class="control-label col-xs-2">Area Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.area_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_number" class="control-label col-xs-2">Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_phone_number_extension" class="control-label col-xs-2">Extension</label>
                <div class="col-xs-10">
                    {{ form_widget(form.phone_number.extension) }}
                </div>
                <div style="clear: both;"></div>
            </div>

        </div>

    </div>

    <div id="primaryContactNo" class="tab-pane inputBoxSize fade">
        <div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_country_code" class="control-label col-xs-2">Country Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.country_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_area_code" class="control-label col-xs-2">Area Code</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.area_code) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_number" class="control-label col-xs-2">Number</label>

                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.number) }}
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="form-group">
                <label for="mci_bundle_patientBundle_patients_primary_contact_number_extension" class="control-label col-xs-2">Extension</label>
                <div class="col-xs-10">
                    {{ form_widget(form.primary_contact_number.extension) }}
                </div>
                <div style="clear: both;"></div>
            </div>

        </div>

    </div>


    <div id="relations" class="tab-pane  fade">
        <span id="addRelation" style="cursor: pointer;" class="glyphicon glyphicon-plus">Add Relations</span>
        <table class="table">
            <thead>
            <tr>
                <th>NID</th>
                <th>BRN</th>
                <th>UID</th>
                <th>Type</th>
                <th>Bangla Name</th>
                <th>Given Name</th>
                <th>Sur Name</th>
                <th>Relational Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody  class="relation-body" data-prototype="&lt;tr&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__nid&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][nid]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__bin_brn&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][bin_brn]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__uid&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__type&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][type]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__name_bangla&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][name_bangla]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__given_name&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][given_name]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__sur_name&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][sur_name]&quot; required=&quot;required&quot; class=&quot;form-control&quot; value=&quot;&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; id=&quot;mci_bundle_patientBundle_patients_relations___name__relational_status&quot; name=&quot;mci_bundle_patientBundle_patients[relations][__name__][relational_status]&quot; required=&quot;required&quot; class=&quot;form-control&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span style=&quot;margin-top: 7px;&quot; class=&quot;glyphicon glyphicon-remove remove&quot;&gt;&lt;/span&gt;&lt;/td&gt;
    &lt;/tr&gt;">
            {% for relation in form.relations %}
                <tr>
                    <td>{{ form_widget(relation.nid) }}</td>
                    <td>{{ form_widget(relation.bin_brn) }}</td>
                    <td>{{ form_widget(relation.uid) }}</td>
                    <td>{{ form_widget(relation.type) }}</td>
                    <td>{{ form_widget(relation.name_bangla) }}</td>
                    <td>{{ form_widget(relation.given_name) }}</td>
                    <td>{{ form_widget(relation.sur_name) }}</td>
                    <td>{{ form_widget(relation.relational_status) }}</td>
                    <td><span style="margin-top: 7px;" class="glyphicon glyphicon-remove remove"></span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>

{{ form_end(form) }}
<script type="text/javascript">
    var $collectionHolder;
    $addRelation = $('#addRelation');
    jQuery(document).ready(function() {
    $collectionHolder = $('tbody.relation-body');
    $collectionHolder.data('index', $collectionHolder.find('tr').length);

    $addRelation.on('click', function(e) {
    e.preventDefault();
     addRelationForm($collectionHolder);

        });
    });

    function addRelationForm($collectionHolder) {

        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        var newForm = prototype.replace(/__name__/g, index);
        $collectionHolder.data('index', index + 1);

        var $newFormtd = $($collectionHolder).append(newForm);

    }
</script>
{% endblock %}


