{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- BEGIN GLOBAL STYLES -->
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/mcipatient/css/datepicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!-- END GLOBAL STYLES -->
{% endblock stylesheets %}
{% block content %}

{% if systemError is defined  and systemError is not empty %}
    <div class="alert alert-danger"   style="margin-top: 10px;">
    <ul>
        {% for sysError in systemError  %}
            <li>{{ sysError }}</li>
        {% endfor %}
    </ul>
    </div>
  {% else %}

<div style="width: 100%; padding-top: 10px;">
    <h3 style="float: left; width: 30%;">Patient approval list</h3>
    <div style="float: right; width: 70%; margin-top: 20px;margin-bottom: 10px;">
        <form action="" autocomplete="off">
            <div style="float: left;">
                <select name="catchment" class="form-control">
                    <option value="">Please Select Catchment</option>
                    {% for catchment in catchments  %}
                        {% set queryString = catchment|join %}
                        <option {{ (queryString == app.request.get('catchment')) ? 'selected=selected' : '' }}  value="{{ queryString }}">
                            {{ catchment.division_id|division }}
                            -{{ catchment.district_id|location(catchment.division_id) }}
                            {% if catchment.upazila_id is defined %}
                            -{{ catchment.upazila_id|location(catchment.division_id~catchment.district_id) }}
                            {% endif %}

                            {% if catchment.citycorporation_id is defined %}
                                -{{ catchment.citycorporation_id|location(catchment.division_id~catchment.district_id~catchment.upazila_id) }}
                            {% endif %}

                            {% if catchment.union_or_urban_ward_id is defined %}
                               -{{ catchment.union_or_urban_ward_id|location(catchment.division_id~catchment.district_id~catchment.upazila_id~catchment.citycorporation_id) }}
                            {% endif %}

                            {% if catchment.rural_ward_id is defined %}
                                -{{ catchment.union_or_urban_ward_id|location(catchment.division_id~catchment.district_id~catchment.upazila_id~catchment.citycorporation_id~catchment.union_or_urban_ward_id) }}
                            {% endif %}

                        </option>
                    {% endfor %}
                </select>
            </div>

            <div style="float:left; margin-left: 10px;">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
    <div style="clear: both"></div>
</div>
      {% set catchments = app.request.get('catchment') %}
      {% if catchments is defined and catchments is not empty %}
          {% if responseBody.results is defined and responseBody.results is not empty %}
              <table width="100%" class="table table-bordered">
                  <thead>
                  <tr>
                      <th>HID</th>
                      <th>Name</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for result in responseBody.results %}
                      <tr>
                          <td>{{ result.hid }}</td>
                          <td>{{ result.given_name }} {{ result.sur_name }}</td>
                          <td><a class="btn btn-default"
                                 href="{{ path('mci_patient_approval_details', { 'hid': result.hid,'catchment': app.request.get('catchment') }) }}">View</a>
                          </td>
                      </tr>
                  {% endfor %}

                  </tbody>

              </table>
              <div class="clear"></div>
              <nav>
                  <ul class="pager">
                      <li>
                          <a href="{{ path('mci_patient_pending_approval_previous', {'before':responseBody.results.0.last_updated,'catchment': catchments }) }}">
                              Previous</a></li>
                      <li>
                          <a href="{{ path('mci_patient_pending_approval_next', {'after':responseBody.results|last.last_updated,'catchment': catchments  }) }}">
                              Next</a></li>
                  </ul>
              </nav>
          {% else %}
              <div>No Approval Awaiting Patient Found</div>
          {% endif %}
      {% endif %}
{% endif %}
{% endblock %}
