{% extends 'base.html.twig' %}

{% block content %}
{{ include('::partials/confirmModal.html.twig') }}
<style type="text/css">
    .changes{
        background: #f7e1b5;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
</style>

    <div>
        {% if systemError is defined and systemError is not empty %}
            <div class="alert alert-danger" style="margin-top: 10px;">
                <ul>
                    {% for sysError in systemError %}
                        <li>{{ sysError }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if patient.responseBody.given_name is defined and systemError is empty %}
        <h4>
            {{ patient.responseBody.given_name }} {{ patient.responseBody.sur_name }} ({{ patient.responseBody.hid }})
        </h4>
        {% endif %}

    </div>

    <div class="clear"></div>

    <table width="100%" cellspacing="10" class="table">
        <tbody>
        {% if responseBody.results is defined and responseBody.results is not empty and systemError is empty %}

            {% for results in responseBody.results %}
                    <tr>
                        <th width="31%">{{ results.field_name|camelize }}</th>
                        <td>
                            {% if results.current_value is iterable %}
                                {% for fieldLevel,value in results.current_value  %}
                                    <p>{{ fieldLevel }} : {{ value }}</p>
                                {% endfor %}
                            {% else %}
                                {{ results.current_value }}
                            {% endif %}
                        </td>
                    </tr>
                <tr>
                    <td colspan="2">
                         {% for id,field_details in results.field_details %}
                            <div class="changes">
                                 <div  class="col-lg-3">{{ field_details.created_at|date('Y-m-d H:i:s') }}</div>

                                 <div style="padding-left: 58px;" class="col-lg-6">
                                     {% if field_details.value is iterable %}
                                         {% for changeFieldsLevel,changeFields in field_details.value  %}
                                             {% if results.current_value[changeFieldsLevel] is defined and results.current_value[changeFieldsLevel] != changeFields %}
                                                 <p style="color: green;">{{ changeFieldsLevel }} : {{ changeFields}}</p>
                                             {% else %}
                                                 <p>{{ changeFieldsLevel }} : {{ changeFields}}</p>
                                             {% endif %}

                                         {% endfor %}
                                     {% else %}
                                          {{ field_details.value }}
                                     {% endif %}
                                 </div>

                                 <div class="col-lg-3" style="text-align: right">
                                     {% if results.field_details is defined and results.field_details|length > 1 %}
                                          <button  type='button' class='btn btn-success accept' data-hid='{{ app.request.get("hid") }}' data-fieldname='{{ results.field_name }}' data-payload='{{ results.payload[id].value is defined  ? results.payload[id].value|json_encode : field_details.value|json_encode  }}' data-catchment='{{ app.request.get("catchment") }}'>Accept</button>
                                     {% else %}
                                         <a  class="btn btn-success" href="{{ path('mci_patient_approval_accept',{ 'hid': app.request.get('hid'),'payload': results.payload[id].value is defined ? results.payload[id].value|json_encode : field_details.value|json_encode,'field_name':results.field_name,'catchment': app.request.get('catchment')  }) }}">Accept</a>
                                     {% endif %}
                                       <a  class="btn btn-danger reject" href="{{ path('mci_patient_approval_reject',{ 'hid': app.request.get('hid'),'payload': results.payload[id].value is defined ? results.payload[id].value|json_encode : field_details.value|json_encode,'field_name':results.field_name,'catchment': app.request.get('catchment')  }) }}">Reject</a>
                                 </div>
                                 <div style="clear: both;"></div>
                            </div>
                         {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td class="alert alert-danger">No pending approval details available</td></tr>
        {% endif %}
        </tbody>
    </table>
    <a style="margin-bottom: 20px;" class="btn btn-primary" href="{{ path('mci_patient_pending_approval',{'catchment': app.request.get('catchment')}) }}">Back</a>
{% endblock %}

 {% block documentReady %}

     $('button.accept').on('click',function(){
         var hid = $(this).data('hid');
         var fieldName = $(this).data('fieldname');
         var payload = $(this).data('payload');
         var catchment = $(this).data('catchment');
         if(payload !== null && typeof payload === 'object'){
              payload = JSON.stringify(payload);
         }
         $('#hid').html(hid);
         $('#fieldName').html(fieldName);
         $('#payload').html(payload);
         $('#catchment').html(catchment);
         $('#myModal').modal('show');
     });

    $('.apporval_details_accept').on('click',function(){
        var hid = $('#hid').html();
        var fieldName = $('#fieldName').html();
        var payload = $('#payload').html();
        var catchment = $('#catchment').html();
        var acceptUrl = "{{ path('mci_patient_approval_accept',{ 'hid': 'hid_replace'}) }}";
        var PendingApprovalDetailsUrl = "{{ path('mci_patient_approval_details',{ 'hid': 'hid_replace','catchment':'catchment_replace'} ) }}"
        acceptUrl = acceptUrl.replace("hid_replace", hid);
        PendingApprovalDetailsUrl = PendingApprovalDetailsUrl.replace("hid_replace", hid);
        PendingApprovalDetailsUrl = PendingApprovalDetailsUrl.replace("catchment_replace", catchment);
        if(hid){
             $.ajax({
             url: acceptUrl,
             data: { payload: payload, field_name: fieldName, catchment: catchment }
             })
             .done(function( html ) {
                  $('#myModal').modal('hide');
                  window.location = PendingApprovalDetailsUrl;
             }).fail(function(jqXHR,exception) {
                 if (jqXHR.status === 0) {
                 alert('Not connect.\n Verify Network.');
                 } else if (jqXHR.status == 404) {
                 alert('Requested page not found. [404]');
                 } else if (jqXHR.status == 500) {
                 alert('Internal Server Error [500].');
                 } else if (exception === 'parsererror') {
                 alert('Requested JSON parse failed.');
                 } else if (exception === 'timeout') {
                 alert('Time out error.');
                 } else if (exception === 'abort') {
                 alert('Ajax request aborted.');
                 } else {
                 alert('Uncaught Error.\n' + jqXHR.responseText);
                 }
             })
        }
     });
 {% endblock documentReady %}