{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- BEGIN GLOBAL STYLES -->
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/mcipatient/css/datepicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!-- END GLOBAL STYLES -->
{% endblock stylesheets %}
{% block content %}

{% if sysError is defined %}
    <div class="alert alert-danger"   style="margin-top: 10px;">
    <ul>
        {% for sysError in systemError  %}
            <li>{{ sysError }}</li>
        {% endfor %}
    </ul>
    </div>
  {% endif %}

<div style="width: 100%; padding-top: 10px;">
    <h1 style="float: left; width: 50%;">Patient approval list</h1>
    <div style="clear: both;"></div>
</div>
    {% if responseBody.results is defined and responseBody.results is not empty %}
    <table  width="100%" class="table table-bordered">
            <thead>
            <tr>
                <th>Hid</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

                {% for result in responseBody.results %}
                    <tr>
                        <td>{{ result.hid }}</td>
                        <td>{{ result.given_name }} {{ result.sur_name }}</td>
                        <td><a class="btn btn-default" href="{{ path('mci_patient_approval_details', { 'hid': result.hid }) }}">View</a> </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>
<div class="clear"></div>
        <nav>
            <ul class="pager">
                <li> <a href="{{ path('mci_patient_pending_approval_previous', {'before':responseBody.results.0.last_updated }) }}"> Previous</a></li>
                <li> <a href="{{ path('mci_patient_pending_approval_next', {'after':responseBody.results|last.last_updated  }) }}"> Next</a></li>
            </ul>
        </nav>
    {% else %}
        <div>No Approval Awaiting Patient Found</div>
    {% endif %}
{% endblock %}