{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Search Patient</h3>
        </div>
    </div>
    <form id="searchPatientForm" name="searchPatient"  method="get" autocomplete="off">
    <div class="alert alert-danger" id="error_div" style="{% if  systemError|length < 1 %}display: none {% endif %};width: 100%">
      {% for syserror in systemError  %}
          {{ syserror }}
      {% endfor %}
      </div>
        <h5>IDs:</h5>

        <div class="row">
            <div class="col-lg-3" >
                <div class="form-group">
                    <input id="nid" name="nid" class="form-control single-searchable" value="{% if queryparam.nid is defined  %}{{ queryparam.nid|trim }}{% endif %}"  placeholder="NID">
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="form-group group-error-block">
                    <input id="bin_brn" name="bin_brn" class="form-control single-searchable" value="{% if queryparam.bin_brn is defined  %}{{ queryparam.bin_brn|trim }}{% endif %}" placeholder="BRN">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group group-error-block">
                    <input id="uid" name="uid" class="form-control single-searchable" value="{% if queryparam.uid is defined  %}{{ queryparam.uid|trim }}{% endif %}" placeholder="UID">
                </div>
            </div>

        </div>

        <h5>Personal Details:</h5>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <input id="given_name" name="given_name" value ="{% if queryparam.given_name is defined  %}{{ queryparam.given_name|trim }}{% endif %}" class="form-control" placeholder="Given Name">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <input id="sur_name" name="sur_name" value ="{% if queryparam.sur_name is defined  %}{{ queryparam.sur_name|trim }}{% endif %}" class="form-control" placeholder="Surname">
                </div>
            </div>
        </div>

        <h5>Phone Number:</h5>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <input  id="country_code" name="country_code" value ="{% if queryparam.country_code is defined  %}{{ queryparam.country_code|trim }}{% endif %}" class="form-control phone-block" placeholder="Country Code">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <input  id="area_code" name="area_code" value ="{% if queryparam.area_code is defined  %}{{ queryparam.area_code|trim }}{% endif %}" class="form-control phone-block" placeholder="Area Code">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <input id="phone_no" name="phone_no" value ="{% if queryparam.phone_no is defined  %}{{ queryparam.phone_no|trim }}{% endif %}" class="form-control single-searchable" placeholder="Number">
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    <input  id="extension" name="extension" value ="{% if queryparam.extension is defined  %}{{ queryparam.extension|trim }}{% endif %}" class="form-control phone-block" placeholder="Extension">
                </div>
            </div>

        </div>
        <h5>Location:</h5>
        <div class="row">

            <div class="col-lg-3">
                <div class="form-group">

                    <select name="division_id" id="division" class="form-control" >
                        <option value="">Select Division</option>
                        {% for division in divisions  %}

                            <option data-id="{{ division.id }}"  value="{{ division.code }}"
                                    {% if queryparam.division_id is defined %}

                                    {% if division.code == queryparam.division_id %} {{ "selected" }} {% endif %}
                                    {% endif %}
                                    >{{ division.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <select name="district_id" id="district" class="form-control" >
                        <option value="">Select District</option>
                        {% for district in districts  %}

                            <option data-id="{{ district.id }}"  value="{{ district.code }}"
                                    {% if queryparam.district_id is defined %}
                                        {% if district.code == queryparam.district_id %} {{ "selected" }} {% endif %}
                                    {% endif %}
                                    >{{ district.name }}</option>
                        {% endfor %}
                    </select>
                     <span class="districtloader" style="float: right;display: none"><img src="/assets/images/ajax-loader.gif"></span>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                       <select name="upazila_id" id="upazila" class="form-control" >
                        <option value="">Select upazila</option>
                        {% for upazila in upazilas  %}

                            <option data-id="{{ upazila.id }}"  value="{{ upazila.code }}"
                                    {% if queryparam.upazila_id is defined %}
                                        {% if upazila.code == queryparam.upazila_id %} {{ "selected" }} {% endif %}
                                    {% endif %}
                                    >{{ upazila.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="upazilaloader" style="float: right; display: none"><img src="/assets/images/ajax-loader.gif"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <button id="searchButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>


   <hr/>

{% if responseBody.results is defined %}

    <h5><strong>Showing results {% if searchString is defined  %} for {{ searchString }}{% endif %} {% if queryparam.division_id is not empty %} {% if searchString is defined and searchString is not empty  %} and {% endif %} location - {{ queryparam.division_id|division  }} {{ queryparam.district_id|district  }} {{ queryparam.upazila_id|upazila(queryparam.district_id)  }}{% endif %}</strong></h5>

    {% if responseBody.additional_info.note is defined and responseBody.additional_info.note is not empty  %}
        <p><strong>{{ responseBody.additional_info.note }}</strong></p>
   {% endif %}

    <table style="font-size: 13px;" class="table table-striped table-bordered table-hover search-patient" id="search-results">
        <thead>
        <tr>
            <th>HID</th>
            <th>NID</th>
            <th>Gender</th>
            <th>Given Name</th>
            <th>Surname</th>
            <th>DOB</th>
            <th>Present Address</th>
            <th>Contact Number</th>
        </tr>
        </thead>
        <tbody>
        {% for result in responseBody.results  %}

            <tr>
                <td><a href="{{ path('mci_patient_showpage',{ 'id': result.hid }) }}">{{ result.hid }}</a></td>
                <td>{% if result.nid is defined %}{{ result.nid }}{% endif %}</td>
                <td>{{ result.gender|gender }}</td>
                <td>{{ result.given_name }}</td>
                <td>{{ result.sur_name }}</td>
                <td>{{ result.date_of_birth }}</td>
                <td>{{ result.present_address.division_id|division }} {{ result.present_address.district_id|district }} {{ result.present_address.upazila_id|upazila(result.present_address.district_id) }}</td>
                <td> {% if result.phone_number.number is defined %}{{ result.phone_number.number }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN GLOBAL STYLES -->
    {% stylesheets filter='cssrewrite'
    'assets/css/plugins/dataTables.bootstrap.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- END GLOBAL STYLES -->
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL JS -->
    {% javascripts
    'assets/js/plugins/dataTables/jquery.dataTables.js'
    'assets/js/plugins/dataTables/dataTables.bootstrap.js'
    "bundles/mcipatient/js/search.js"
    %}
    <!-- END PAGE LEVEL JS -->
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block documentReady %}
    PatientSearch.init();
{% endblock documentReady %}
