{% extends 'base.html.twig' %}

{% block content %}
    {% if responseBody is defined and responseBody is not empty %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{% if responseBody.given_name is defined %}{{ responseBody.given_name }} {{ responseBody.sur_name }}{% endif %} ({% if responseBody.name_bangla is defined %}{{ responseBody.name_bangla }}{% endif %})</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                IDs
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>HID:</label>
                    <p class="form-control-static">{% if responseBody.hid is defined %}{{ responseBody.hid }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>NID:</label>
                    <p class="form-control-static">{% if responseBody.nid is defined %}{{ responseBody.nid }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>BRN:</label>
                    <p class="form-control-static">{% if responseBody.bin_brn is defined %}{{ responseBody.bin_brn }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>UID:</label>
                    <p class="form-control-static">{% if responseBody.uid is defined %}{{ responseBody.uid }}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Personal Details
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Date of Birth:</label>
                    <p class="form-control-static">{% if responseBody.date_of_birth is defined %}{{ responseBody.date_of_birth }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Gender:</label>
                    <p class="form-control-static">{% if responseBody.gender is defined %}{{ responseBody.gender|gender }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Education Level:</label>
                    <p class="form-control-static">{% if responseBody.edu_level is defined %}{{ responseBody.edu_level|edulevel }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Occupation:</label>
                    <p class="form-control-static">{% if responseBody.occupation is defined %}{{ responseBody.occupation|occupation }}{% endif %}</p>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Place Of Birth:</label>
                    <p class="form-control-static">{% if responseBody.place_of_birth is defined %}{{ responseBody.place_of_birth }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Nationality:</label>
                    <p class="form-control-static">{% if responseBody.nationality is defined %}{{ responseBody.nationality }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Religion:</label>
                    <p class="form-control-static">{% if responseBody.religion is defined %}{{ responseBody.religion|religion }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Blood Group:</label>
                    <p class="form-control-static">{% if responseBody.blood_group is defined %}{{ responseBody.blood_group|bloodgroup }}{% endif %}</p>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Disability:</label>
                    <p class="form-control-static">{% if responseBody.disability is defined %}{{ responseBody.disability|disability }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Ethnicity:</label>
                    <p class="form-control-static">{% if responseBody.ethnicity is defined %}{{ responseBody.ethnicity }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Primary Contact:</label>
                    <p class="form-control-static">{% if responseBody.primary_contact is defined %}{{ responseBody.primary_contact }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Phone Number:</label>
                    <p class="form-control-static">{% if responseBody.phone_number is defined %}{{ responseBody.phone_number.number }}{% endif %}</p>
                </div>
            </div>
            <div class="panel-body">

                <div class="col-lg-3">
                    <label>Primary Phone Number:</label>
                    <p class="form-control-static">{% if responseBody.primary_contact_number is defined %}{{ responseBody.primary_contact_number.number }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Marital Status:</label>
                    <p class="form-control-static">{% if responseBody.marital_status is defined %}{{ responseBody.marital_status|maritalStatus }}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>

{% if responseBody.relations is defined  %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Relations
            </div>

            {% for key,relation in responseBody.relations %}

                <div class="panel-body" style="padding: 5px;">
                    <div class="col-lg-3">
                        {% if key == 0 %}
                            <label>Type:</label>
                        {% endif %}
                        <p class="form-control-static">{{ relation.type|relation }}</p>
                    </div>
                    <div class="col-lg-3">
                        {% if key == 0 %}
                            <label>Name:</label>
                        {% endif %}
                        <p class="form-control-static">{{ relation.given_name }} {{ relation.sur_name }}</p>
                    </div>
                    <div class="col-lg-3">
                        {% if key == 0 %}
                            <label>NID:</label>
                        {% endif %}
                        <p class="form-control-static">{% if relation.nid %}{{ relation.nid }}{% endif %}</p>
                    </div>
                    <div class="col-lg-3">
                        {% if key == 0 %}<label>Status:</label>{% endif %}
                        <p class="form-control-static">{% if relation.relational_status is defined %}{{ relation.relational_status|maritalStatus }}{% endif %}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Present Address
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Division:</label>
                    <p class="form-control-static">{{ responseBody.present_address.division_id|division }}</p>
                </div>
                <div class="col-lg-3">
                    <label>District:</label>
                    <p class="form-control-static">{{ responseBody.present_address.district_id|district }}</p>
                </div>
                <div class="col-lg-3">
                    <label>Upazilla:</label>
                    <p class="form-control-static">{{ responseBody.present_address.upazilla_id|upazilla(responseBody.present_address.district_id , responseBody.present_address.upazilla_id) }}</p>
                </div>
                <div class="col-lg-3">
                    <label>Union:</label>
                    <p class="form-control-static">{% if responseBody.responseBody.present_address.union_id is defined %}{{ responseBody.present_address.union_id }}{% endif %}</p>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Holding Number:</label>
                    <p class="form-control-static">{% if responseBody.present_address.holding_number is defined %}{{ responseBody.present_address.holding_number }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Street:</label>
                    <p class="form-control-static">{% if responseBody.present_address.street is defined %}{{ responseBody.present_address.street }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Area Mouja:</label>
                    <p class="form-control-static">{% if responseBody.present_address.area_mouja is defined  %}{{ responseBody.present_address.area_mouja }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Village:</label>
                    <p class="form-control-static">{% if responseBody.present_address.village is defined  %}{{ responseBody.present_address.village }}{% endif %}</p>
                </div>
            </div>
            <div class="panel-body">

                <div class="col-lg-3">
                    <label>Street:</label>
                    <p class="form-control-static">{% if responseBody.present_address.street is defined  %}{{ responseBody.present_address.street }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Area Mouja:</label>
                    <p class="form-control-static">{% if responseBody.present_address.area_mouja is defined  %}{{ responseBody.present_address.area_mouja }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Village:</label>
                    <p class="form-control-static">{% if responseBody.present_address.village is defined  %}{{ responseBody.present_address.village }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Post Office:</label>
                    <p class="form-control-static">{% if responseBody.present_address.post_office is defined  %}{{ responseBody.present_address.post_office }}{% endif %}</p>
                </div>
            </div>

            <div class="panel-body">

                <div class="col-lg-3">
                    <label>Post Code :</label>
                    <p class="form-control-static">{% if responseBody.present_address.post_code is defined  %}{{ responseBody.present_address.post_code }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>City Corporation:</label>
                    <p class="form-control-static">{% if responseBody.present_address.city_corporation_id is defined  %}{{ responseBody.present_address.city_corporation_id }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Country:</label>
                    <p class="form-control-static">{% if responseBody.present_address.country_code is defined  %}{{ responseBody.present_address.country_code|countrycode }}{% endif %}</p>
                </div>

            </div>

        </div>
    </div>
{% if responseBody.permanent_address is defined %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Permanent Address
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Division:</label>
                    <p class="form-control-static">{{ responseBody.permanent_address.division_id|division }}</p>
                </div>
                <div class="col-lg-3">
                    <label>District:</label>
                    <p class="form-control-static">{{ responseBody.permanent_address.district_id|district }}</p>
                </div>
                <div class="col-lg-3">
                    <label>Upazilla:</label>
                    <p class="form-control-static">{{ responseBody.permanent_address.upazilla_id|upazilla(responseBody.permanent_address.district_id)  }}</p>
                </div>
                <div class="col-lg-3">
                    <label>Union:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.union_id is defined  %}{{ responseBody.permanent_address.union_id }} {% endif %}</p>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Holding Number:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.holding_number %}{{ responseBody.permanent_address.holding_number }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Street:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.street  %}{{ responseBody.permanent_address.street }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Area Mouja:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.area_mouja %}{{ responseBody.permanent_address.area_mouja }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Village:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.village %}{{ responseBody.permanent_address.village }}{% endif %}
                </div>
                <div class="col-lg-3">
                    <label>Area Mouja:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.area_mouja %}{{ responseBody.permanent_address.area_mouja }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Village:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.village %}{{ responseBody.permanent_address.village }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Post Office:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.post_office %}{{ responseBody.permanent_address.post_office }}{% endif %}</p>
                </div>
            </div>

            <div class="panel-body">

                <div class="col-lg-3">
                    <label>Post Code :</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.post_code %}{{ responseBody.permanent_address.post_code }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>City Corporation:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.city_corporation_id %}{{ responseBody.permanent_address.city_corporation_id }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Country:</label>
                    <p class="form-control-static">{% if responseBody.permanent_address.country_code %}{{ responseBody.permanent_address.country_code|countrycode }}{% endif %}</p>
                </div>

            </div>

        </div>
    </div>
{% endif %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('mci_patient_edit', { 'id': responseBody.hid }) }}" class="btn btn-primary">Edit Details</a>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">No patient found</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    {% endif %}
  {% include 'MciPatientBundle:Patient:searchJs.html.twig' %}
{% endblock %}
