{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{ responseBody.given_name }} {{ responseBody.sur_name }} ({{ responseBody.name_bangla }})</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                IDs
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>HID:</label>
                    <p class="form-control-static">HID-{{ responseBody.hid }}</p>
                </div>
                <div class="col-lg-3">
                    <label>NID:</label>
                    <p class="form-control-static">{% if responseBody.nid is defined %}{{ responseBody.nid }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>BRN:</label>
                    <p class="form-control-static">{% if responseBody.bin_brn is defined %}{{ responseBody.bin_brn }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>UID:</label>
                    <p class="form-control-static">{% if responseBody.uid is defined %}{{ responseBody.uid }}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Personal Details
            </div>
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Date of Birth:</label>
                    <p class="form-control-static">{{ responseBody.date_of_birth }}</p>
                </div>
                <div class="col-lg-3">
                    <label>Gender:</label>
                    <p class="form-control-static">{{ responseBody.gender|gender }}</p>
                </div>
                <div class="col-lg-3">
                    <label>Education Level:</label>
                    <p class="form-control-static">{% if responseBody.edu_level is defined %}{{ responseBody.edu_level|edulevel }}{% endif %}</p>
                </div>
                <div class="col-lg-3">
                    <label>Occupation:</label>
                    <p class="form-control-static">{% if responseBody.occupation is defined %}{{ responseBody.occupation|occupation }}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a href="update-patient.php" class="btn btn-primary">Edit Details</a>
        </div>
    </div>
{% endblock %}
