{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {%- if choice is iterable -%}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{- block('choice_widget_options') -}}
                </optgroup>
            {%- else -%}
                {% set choiceArray = choice.value|split('_') %}
                {% set choiceId =  (choiceArray.1 is defined) ? choiceArray.1:'' %}
                {% set choiceValue =  (choiceArray.1 is not defined) ? choice.value:choiceArray.0 %}
                <option data-id="{{choiceId }}" value="{{ choiceValue }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {%- endif -%}
        {% endfor %}
    {% endspaceless %}
{% endblock %}



{#
{% extends 'form_div_layout.html.twig' %}
{% block location_widget %}
    {% spaceless %}
        {{ block('choice_widget') }}
    {% endspaceless %}
{% endblock %}#}
